@charset "utf-8";

/*-----------------------------------------------------
@@ Reset
------------------------------------------------------*/
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
http://code.google.com/p/html5resetcss/downloads/list
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}
th,td{
	text-align: left;
	vertical-align: top;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




article, aside, dialog, figure, footer, header,hgroup, menu, nav, section { display: block; }

img{border: 0; vertical-align: bottom;-ms-interpolation-mode: bicubic; }


/* For modern browsers */
.clearfix:before,.clearfix:after,.cf:before,.cf:after{
	content:"";
	display:table;
}
.clearfix:after,.cf:after{clear:both;}
.clearfix,.cf{zoom:1;}/* For IE 6/7 (trigger hasLayout) */

/*-----------------------------------------------------
@@ 基本
------------------------------------------------------*/

a{color:#ff9c95;text-decoration: none;}
a:hover{text-decoration: underline;}

html{
	color: #4a4a4a;
	background: white;
	/*overflow-y: scroll;	ここでスクロールバーを常に表示*/
	height: 100%;
}
body{
	text-align: center;
	font-size: 16px;
	font-family: "メイリオ", "Meiryo", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
	/*font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;*/
	font-weight: 500;
	background-color: white;
	word-wrap: break-word;
	line-height: 1;
	height: 100%;
}
@media all and (-ms-high-contrast:none){
	/* IE10以降ハック*/
	/*body{font-family: "メイリオ", "Meiryo", sans-serif;}*/
}

/**/

#wrap{
	/*width: 1024px;
	margin: 0 auto;*/
    height: 100%;
}

#wrap-inner{
	text-align: left;
	height: auto !important;
	height: 100%;
	min-height: 100%;
	position: relative;
	background: red url(../images/pc_main-back.png) repeat-y 50% 0;
}

/*-----------------------------------------------------
@@ ヘッダ
------------------------------------------------------*/
header#page-header{
	width: 100%;
	background: #ff9c95;
	height: 50px;
	position: relative;
}
#page-header-inner{
	width: 1024px;
	text-align: left;
	margin: 0 auto;
	position: relative;
}

header#page-header h1{
	position: relative;
}
header#page-header h1 a{
	display: inline-block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 176px;
	height: 50px;
	background: url(../images/pc_logo.png) no-repeat 0 0;
}

header#page-header h1 small{
	position: absolute;
	display: inline-block;
	color: white;
	font-weight: normal;
	font-size: 12px;
	top: 30px;
	left: 176px;
}

ul#header-list{
	position: absolute;
	top: 0;
	right: 0;
	/*font-size: 0;*/
}
ul#header-list li{
	display: inline-block;
}

ul#header-list li a.header-list-search{
	display: block;
	width: 68px;
	height: 50px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../images/pc_header_search.png) no-repeat 0 0;
	margin-right: 45px;
}
ul#header-list li a.header-list-login{
	display: block;
	width: 95px;
	height: 50px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../images/pc_header_login.png) no-repeat 0 0;
}
ul#header-list li a.header-list-keeplist{
	display: block;
	width: 132px;
	height: 50px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../images/pc_header_keeplist.png) no-repeat 0 0;
}

/*-----------------------------------------------------
@@ フッタ
------------------------------------------------------*/
footer#page-footer{
	position: absolute;
	bottom: 0;
	clear: both;
	width: 100%;
	height: 85px;
	background-color: #e6e6e6;
}
#page-footer-inner{
	width: 1024px;
	text-align: center;
	margin: 0 auto;
	padding: 20px 0;
}

ul.footer-menu{
	list-style-type: none;
	font-size: 0;
	margin: 0 0 10px;
}
ul.footer-menu li{
	display: inline-block;
	font-size: 14px;
	border-right: 1px solid #4a4a4a;
	padding-right: 11px;
	margin-right: 11px;
}
ul.footer-menu li:last-child{
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}
ul.footer-menu li a{
	color: #4a4a4a;
}

p.copyright{
	margin: 0;
	font-size: 14px;
	text-align: center;
}

/*-----------------------------------------------------
@@ メイン
------------------------------------------------------*/
#main{	/*#mainは#sidemenuと#contentsを囲む*/
	padding: 0 0 85px 0;	/* 85px footerの高さ */
}
#main-inner{
	width: 1024px;
	text-align: left;
	margin: 0 auto;
	padding: 40px 0 100px;
	background: url(../images/pc_main-back.png) repeat-y 50% 0;
}


nav#page-navi{
	float: right;	/* #contentsと逆に */
	width: 240px; /* 282-42 */
	padding: 0 0 0 42px;
}
#contents{
	float: left;	 /*#sidemenuと逆に */
	width: 700px;
	position: relative;
}
#contents-inner{
	width: 100%;
	position: relative;
}

p.err-box{
	color: red;
	border: 1px solid red;
	padding: 8px;
}

/*-----------------------------------------------------
@@ 段落
------------------------------------------------------*/
p{
	line-height: 1.5;
	margin-bottom: 1em;
}
p.indent1{
	text-indent: -1em;
	margin-left: 1em;
}
br.sp{display: none;}


/*-----------------------------------------------------
@@ IME制御（WinIEのみ）等
------------------------------------------------------*/
.imeon{ime-mode:active;}
.imeoff{ime-mode:disabled;}

.right{text-align: right;}
.center{text-align: center;}
.left{text-align: left;}

.nowrap{white-space: nowrap;}

a:hover img{
	opacity: 0.7;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}
.alignright { float: right; }
.alignleft { float: left; }

em{
	font-style: normal;
	font-weight: bold;
}

/*-----------------------------------------------------
@@ For media queries
レスポンシブ Web デザイン　Responsive Web Design
------------------------------------------------------*/
/* set image max width to 100% */
video,
img, object {
	max-width: 100%;
	height: auto;
	/* ie8.css参照 */
}

.video embed,
.video object,
.video iframe {
	width: 100%;
	height: auto;
}


/*-----------------------------------------------------
@@ sidemenu サイドメニュー
------------------------------------------------------*/
.side-menu-title{
	margin: 0 0 20px 0;
}

ul.side-menu{
	margin: 0 0 30px 0;
}
ul.side-menu li{
	margin: 0 0 20px 0;
	min-height: 20px;
}
ul.side-menu a,
ul.side-menu span{
	color: #4a4a4a;
	min-height: 20px;
	vertical-align: baseline;
	line-height: 20px;
	display: inline-block;
}
ul.side-menu a.side-menu-item01,
ul.side-menu span.side-menu-item01{
	background: transparent url(../images/pc_side_menu_icon01.png) no-repeat 0 0;
	padding-left: 31px;
}
ul.side-menu a.side-menu-item02{
	background: transparent url(../images/pc_side_menu_icon02.png) no-repeat 0 0;
	padding-left: 31px;
}
ul.side-menu a.side-menu-item03{
	background: transparent url(../images/pc_side_menu_icon03.png) no-repeat 0 0;
	padding-left: 31px;
}
ul.side-menu a.side-menu-item04{
	background: transparent url(../images/pc_side_menu_icon04.png) no-repeat 0 0;
	padding-left: 31px;
}

ul.side-menu ul{
	margin: 10px 0 0 30px;
}
ul.side-menu ul li{
	margin: 0 0 10px 0;
}
ul.side-menu ul li:before{
	content: "ー";
	color: #dcdcdc;
}

.side-menu-login{
	margin: 0 0 30px;
	display: -webkit-flex;/*--- safari（PC）用 ---*/
	display: flex;
	-webkit-justify-content: space-between;/*--- safari（PC）用 ---*/
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap: wrap;
}
.side-menu-login a{
	display: block;
}

ul.side-menu-banner{
	list-style-type: none;
	margin: 0 0 30px;
}
ul.side-menu-banner li{
	margin: 0 0 10px;
}

/*-----------------------------------------------------
@@ 共通
------------------------------------------------------*/

/* @@ パンくず */
.breadcrumbs{
	position: absolute;
	top: -30px;
	left: 0;
}
.cd-breadcrumb{
	list-style-type: none;
	font-size: 0;
}
.cd-breadcrumb li{
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
}
.cd-breadcrumb li:last-child{
	display: inline;
}
.cd-breadcrumb li::after{
  display: inline-block;
  content: '>';
  margin:0 0.5em;
  color: #b5b5b5;
}
.cd-breadcrumb li:last-child::after{
  content: '';
}
.cd-breadcrumb li a,
.cd-breadcrumb li em{
	color: #b5b5b5;
	font-style: normal;
	font-weight: normal;
	line-height: 1.2
}


/* @@ タイトル */
h2.title1{
	color: #ff9c95;
	background-color: #fff0f0;
	font-size: 19px;
	padding: 6px 10px;
	margin: 0 0 10px;
}



h3.form-title1{
	margin: 0 0 20px;
	padding-left: 16px;
	font-size: 18px;
	font-weight: normal;
	color: #5a5a5a;
	border-left: 4px solid #ff9c95;
}
@media all and (-ms-high-contrast:none){	/* IE10以降ハック*/
	h3.form-title1{
		padding-top: 4px;
	}
}
.require{color: #ff9c95;}


h3.mailsend{
	margin: 40px 0 20px;
	color: #ff9c95;
	font-size: 18px;
	font-weight: bold;
}



/* @@ なんか */


/*-----------------------------------------------------
@@ フォーム
------------------------------------------------------*/
input,textarea,select{outline:0;}

button, input, optgroup, select, textarea {
  font: inherit; /* フォーム要素に、フォントの継承を指定。 */
}

/* placeholder属性 */
:placeholder-shown {
    color: #c9c9c9; }
::-webkit-input-placeholder {/* Google Chrome, Safari, Opera 15+, Android, iOS */
    color: #c9c9c9; }
:-moz-placeholder {/* Firefox 18- */
    color: #c9c9c9; opacity: 1; }
::-moz-placeholder {/* Firefox 19+ */
    color: #c9c9c9; opacity: 1; }
:-ms-input-placeholder {/* IE 10+ */
    color: #c9c9c9; }


textarea,
select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	padding: 8px 12px;
	color: #4a4a4a;
	box-sizing: border-box;
}
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
	background-color: #fff0f0;
}

textarea{overflow: auto;}
/* 内容が少ないのに薄くスクロールバーが出る事への対策。IEのみ  */


/* @@ inputタグ */
.input01{
	width: 100%;
	font-size: 18px;
}
.input02{
	width: 50%;
	font-size: 18px;
}

/* @@ textareaタグ */
.textarea01{
	width: 100%;
	height: 158px;
	font-size: 18px;
}
.textarea02{
	width: 100%;
	height: 200px;
	font-size: 18px;
}


/* @@ inputタグ submit */
.submitbtn1{	/* ピンク */
	display: block;
	color: white;
	width: 190px;
	border-radius: 3px;
	text-align: center;
	line-height: 32px;
	font-size: 14px;
	border: none;
	margin: 0 10px;
	background-color: #ff9c95;
	box-shadow: 0 4px 0 rgba(255,131,123,1);
}
.submitbtn2{	/* グレー */
	display: block;
	color: white;
	width: 190px;
	border-radius: 3px;
	text-align: center;
	line-height: 32px;
	font-size: 14px;
	border: none;
	margin: 0 10px;
	background-color: #b5b5b5;
	box-shadow: 0 4px 0 rgba(137,137,137,1);
}
.submitbtn1:hover,
.submitbtn2:hover{
	cursor: pointer;
	opacity: 0.7;
	text-decoration: none;
}
	a.submitbtn1,
	a.submitbtn2{
		padding-top: 3px;
	}
@media all and (-ms-high-contrast:none){	/* IE10以降ハック*/
	a.submitbtn1,
	a.submitbtn2{
		padding-top: 5px;
	}
}



.form-bottom-button{
	margin: 30px auto 0;
	display: flex;
	justify-content: center;
}


.form-flow{margin: 30px 0;}



.mailform-01{
	margin: 0 0 60px;
}
.mailform-01 dt{
	margin: 0 0 10px;
	padding-left: 16px;
	font-size: 18px;
	font-weight: normal;
	color: #5a5a5a;
	border-left: 4px solid #ff9c95;
}
@media all and (-ms-high-contrast:none){	/* IE10以降ハック*/
	.mailform-01 dt{
		padding-top: 4px;
	}
}

.mailform-01 dd{
	margin: 0 0 30px;
	font-size: 16px;
	line-height: 1.5;
}


.input-bottom1{
	display: inline-block;
	margin: 10px 0 0 0;
}

/* @@ inputのズレを修正 */
form{vertical-align:baseline;}
select, input, textarea, button { 
	vertical-align:middle; 
	position:relative; 
	margin: 0 0 2px 0;
}
input[type="checkbox"],
input[type="radio"] { 
	border:none; 
	margin-right:10px; 
}


p.form-doui1{
	display: block;
	margin: 30px auto 10px;
	text-align: center;
}

/* @@ エラー処理 */
textarea.inp_error,
select.inp_error,
input[type="text"].inp_error,
input[type="email"].inp_error,
input[type="password"].inp_error,
input[type="tel"].inp_error {
	border: 1px solid #ff837b;
	border-radius: 3px;
	padding: 8px 12px;
	color: #4a4a4a;
	box-sizing: border-box;
	background: #fff0f0;
}

span.error_m {
	font-weight: normal;
	color: #ff837b;
	display: block;
	margin: 0;
}


/*-----------------------------------------------------
@@ slider (bxSlider)
------------------------------------------------------*/
#slider {width:100%; height:100%; min-height:320px; overflow:hidden; position:relative;}
.slide-wrap {width:2250px; height:320px; position:absolute; left:50%; margin-left:-1125px;}

/* コントローラー */
.bx-controls {
position:absolute;
width: 840px;	/* 左右のコントローラーを置くところの幅 */
z-index:100;
top:50%;
left:50%;
margin-left:-420px; /* 上記の半分 */
}

.bx-controls-direction {
max-width:100%; min-width:840px; /* コントローラーの幅 */
top:0;
position:absolute;
}

.bx-controls-direction a {
position:absolute;
width:100%;
height:320px;
display:block;
background-color:rgba(255,255,255,0.2);
z-index:9999;
}

.bx-controls-direction a:hover {background-color:rgba(255,255,255,0.6);}

a.bx-prev {left:-840px; text-align:right; font-size: 0;}
a.bx-next {right:-840px; text-align:left; font-size: 0;}

/******************/
/* bx-pager *******/

.bx-pager {
text-align:center;
clear:both;
display:block;
position:relative;
top:320px;
}


.bx-pager-item {
line-height:1; height:40px; width:40px;
background:#000; overflow:hidden; display:inline-block; margin:10px 2px 0 2px;
}

.bx-pager-item a {background-color:#ccc; display:block;}
.bx-pager-item a {padding-top:50px; display:block;}
.bx-pager-item a.active {opacity:0.5;}
.bx-pager-item a:hover {opacity:0.3;}


/* 装飾 */
/*****/


.result{
	padding:30px;
	margin: 30px;
	border: 1px solid #F1F1F1;
	font-size: 12px;
}
.result span{display: block; margin-top: 1em;}
.result p{
	margin-bottom:1em;
	font-weight:bold;
	font-size: 14px;
}
.result .slide{width: 300px !important; position: static !important; float:none !important;}

.bx-wrapper {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  background: #fff;
}

/*-----------------------------------------------------
@@ Colorbox ログイン
------------------------------------------------------*/
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/*#cboxOverlay{background:#ff0; opacity: 0.5; filter: alpha(opacity = 10);}*/
#cboxOverlay{background: rgba(0, 0, 0, 0.5);}
#colorbox{outline:0;}
    #cboxContent{margin-top:32px; overflow:visible; background:#fff;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{background:#fff; padding:1px;}
        #cboxLoadingGraphic{background:url(colorbox-images/loading.gif) no-repeat center center;}
        #cboxLoadingOverlay{background:#fff;}
        #cboxTitle{position:absolute; top:-22px; left:0; color:#fff;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(colorbox-images/controls.png) no-repeat 0 0;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{background-position:0px 0px; right:44px;}
        #cboxPrevious:hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px;}
        #cboxNext:hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0;}
        #cboxClose:hover{background-position:-50px -25px;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}


#cboxClose{display: none;}/* 閉じるボタン */

/*-----------------------------------------------------
@@ ログイン
------------------------------------------------------*/
.login-area{
	position: absolute;
	top: -100%;
	left: -100%;
	right: -100%;
	bottom: -100%;
	margin: auto;
	width: 390px;
	height: 263px;
}

h2.login-title{
	font-size: 14px;
	text-align: center;
	margin: 0 0 16px;
	background: url(../images/login_line.png) repeat-x 0 50%;
}
h2.login-title span{
	display: inline-block;
	padding: 0 1em;
	background-color: white;
	margin: 0 auto;
}

.login-form{
	margin: 0 0 10px;
}
.login-form-username,
.login-form-userpassword{
	width: 100%;
	margin: 0 0 10px;
	font-size: 16px;
}

.submit-login{
	border: none;
	width:  188px;
	height: 36px;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../images/pc_button_login2.png) no-repeat 0 0;
	margin: 0 auto;
	display: block;
}
.submit-login:hover{
	cursor: pointer;
}
p.login-reminder{
	font-size: 14px;
	margin: 0 0 40px;
	text-align: center;
}
p.login-reminder a{
	color: #4a4a4a;
}

p.login-regist{
	text-align: center;
}

h3.logout-h3{
	margin: 40px 0 100px;
	color: #ff9c95;
	font-size: 18px;
	font-weight: bold;
}

/*-----------------------------------------------------
@@ index インデックス トップページ
------------------------------------------------------*/
h2.search-title{
	margin: 0 0 20px;
	padding-left: 11px;
	font-size: 22px;
	font-weight: bold;
	color: #ff9c95;
	border-left: 4px solid #ff9c95;
}
@media all and (-ms-high-contrast:none){	/* IE10以降ハック*/
	h2.search-title{
		padding-top: 4px;
	}
}
h2.search-title small{
	padding-left: 1em;
	font-size: 14px;
	font-weight: normal;
	color: #5a5a5a;
}

.search-input{
	margin: 0 0 60px;
}
.submit-search{
	border: none;
	width:  190px;
	height: 36px;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../images/pc_button_search.png) no-repeat 0 0;
}
.submit-search:hover{
	cursor: pointer;
	opacity: 0.7;
}
.input-search{
	width: 490px;
	margin-right: 20px;
}

h2.title-contents{
	margin: 0 0 20px;
	font-size: 16px;
}

h2.title-pronikike{
	margin: 0 0 10px;
}
h2.title-pronikike small{
	padding-left: 1em;
	font-size: 14px;
	font-weight: normal;
	color: #4a4a4a;
}

/* @@ プロに聞け！　ナビ index */
ul.pronikike-navi-index{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #eeeeee;
	margin: 0 0 20px;
}
ul.pronikike-navi-index li{
	font-size: 14px;
}
ul.pronikike-navi-index li a{
	display: inline-block;
	padding: 8px 8px;
	color: #b4b4b4;
	/*color: #4a4a4a;*/
}
ul.pronikike-navi-index li a:hover{
	color: #4a4a4a;
}
ul.pronikike-navi-index li a.current{
	background-color: #ff9c95;
	color: white;
}





/* @@ プロに聞け！　リスト */
ul.pronikike-list{
	list-style-type: none;
}
ul.pronikike-list li{
	padding: 0 0 20px;
	margin: 0 0 20px;
	border-bottom: 1px solid #d2d2d2;
	min-height: 106px;
	position: relative;
}
ul.pronikike-list li:last-child{
	padding: 0 0 20px;
	margin: 0;
	border-bottom: none;
}
.pronikike-list-image{
	width: 160px;
	height: 106px;
	/*overflow: hidden;*/
	float: left;
	position: relative;
}
.pronikike-list-image img.new{
	border: 1px solid red;
	position: relative;
}
.pronikike-new{
	position: absolute;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
	background: transparent url(../images/pc_pronikike_new.png) no-repeat 0 0;
	z-index: 500;
}
p.pronikike-info{
	margin: 0 0 10px 180px;
	font-size: 14px;
}
span.pronikike-category{
	display: inline-block;
	border: 1px solid #ff9c95;
	color: #ff9c95;
	padding: 2px 9px;
	margin-right: 10px;
}
span.pronikike-author{
	color: #b4b4b4;
}
p.pronikike-title{
	margin: 0 0 0 180px;
	font-size: 16px;
	font-weight: bold;
}
a p.pronikike-title{
	color: #4a4a4a;
}
p.pronikike-views{
	margin: 0 0 0 180px;
	text-align: right;
	font-size: 14px;
	position: absolute;
	right: 0;
	bottom: 20px;
}
a p.pronikike-views{
	color: #ff9c95;
}
a p.pronikike-views span{
	color: #b4b4b4;
}

.pronikike-list a:hover{
	text-decoration: none;
}
.pronikike-list a:hover p.pronikike-title{
	text-decoration: underline;
}

p.pronikike-bottom{
	text-align: center;
}
p.pronikike-bottom a{
	color: white;
	font-size: 14px;
	display: inline-block;
	width: 180px;
	height: 30px;
	line-height: 30px;
	background-color: #ff9c95;
	border-radius: 3px;
}
p.pronikike-bottom a:hover{
	opacity: 0.7;
	text-decoration: none;
}

.pronikike-list-number{
	margin-bottom: 40px;
}


/* @@ ページのボトムのリスト */
ul.index-bottom-list{
	list-style-type: none;
	font-size: 0;
	margin-top: 60px;
}
ul.index-bottom-list li{
	display: inline-block;
	border-right: 1px solid #d2d2d2;
	padding-right: 24px;
	margin-right: 24px;
}
ul.index-bottom-list li:last-child{
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}
ul.index-bottom-list li a{
	display: block;
}


/*-----------------------------------------------------
@@ header 検索
------------------------------------------------------*/
.header-search{
position: absolute;
	top: 50px;
	left: 0;
	z-index: 100;
	height: 50px;
	background-color: #ff9c95;
	width: 100%;
}
.header-search-in{
	width: 1024px;
	text-align: left;
	margin: 0 auto;
	position: relative;
}
.header-search-in p{
	display: inline-block;
	margin:0;
	line-height: 50px;
	color: white;
	font-size: 14px;
}
form.header-search-form{
	display: inline-block;
	height: 34px;
}
.input-search-2{
	width: 600px;
	margin: 0 20px 0 0;
	height: 34px;
	box-sizing: border-box;
}
.submit-search-2{
	display: inline-block;
	color: white;
	width: 180px;
	border-radius: 3px;
	text-align: center;
	line-height: 28px;
	font-size: 16px;
	font-weight: normal;
	border: none;
	margin: -4px auto 0;
	background-color: #ffd228;
	box-shadow: 0 4px 0 rgba(218,180,35,1);
	/*background: white url(../images/pc_button_search.png) no-repeat 0 0;*/
	vertical-align: middle;
}
.submit-search-2:hover{
	cursor: pointer;
	background-color: #ffdf68;	/* 上記の70% */
	box-shadow: 0 4px 0 rgba(229,202,101,1);
	/*margin-top: -10px;
	box-shadow: 0 8px 0 rgba(218,180,35,1);*/
	/*opacity: 0.7;*/
}
.submit-search-2 span{
	display: inline-block;
	background: url(../images/icon16_search.png) no-repeat 0 50%;
	padding-left: 18px;
}



/*-----------------------------------------------------
@@ 検索結果
------------------------------------------------------*/
.result-searching-option{
	font-size: 16px;
	margin: 0 0 10px;
}
.result-count{
	font-size: 16px;
	margin: 0 0 20px;
}
.result-count span{
	font-size: 24px;
	color: #ff9c95;
}

.result-list{
	list-style-type: none;
}
.result-list>li{
	padding: 0 0 40px 0;
	margin: 0 0 40px;
	border-bottom: 1px solid #ff9c95;
}
.result-list-2>li{
	padding: 0 0 40px 0;
	margin: 0 0 40px;
	border-bottom: 1px solid #ff9c95;
}

.result-list>li:last-child{
	padding: 0;
	margin: 0 0 40px;
	border-bottom: none;
}

.result-list .result-list-title{
	font-weight: bold;
	font-size: 18px;
	margin: 0 0 10px;
}
.result-list .result-list-title a{
	color: #4a4a4a;
}
.result-list .result-list-company-name{
	font-size: 16px;
	color: #ff9c95;
	margin: 0 0 10px;
}
.result-list .result-list-setumei{
	font-size: 14px;
}
.result-list-image{
	float: left;
	width: 250px;
	height: 166px;
	overflow: hidden;
}
.result-list-right{
	float: right;
	width: 420px;
	height: 166px;
	position: relative;
	
}
.result-list-right ul{
	list-style-type: none;
	position: absolute;
	bottom: 3px;
	left: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 4px;	/* ボタンのbox-shadowの分 */
}
.result-list-right ul a.result-list-keep{
	display: block;
	color: white;
	width: 196px;
	border-radius: 3px;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	background-color: #d2d2d2;
	box-shadow: 0 4px 0 rgba(180,180,180,1);
}
.result-list-right ul a.result-list-detail{
	display: block;
	color: white;
	width: 196px;
	border-radius: 3px;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	background-color: #ff9c95;
	box-shadow: 0 4px 0 rgba(255,131,123,1);
}

.result-list-right ul a.result-list-keep:hover,
.result-list-right ul a.result-list-detail:hover{
	opacity: 0.7;
	text-decoration: none;
}

.pagination{
	text-align: center;
	font-size: 20px;
	margin: 20px 0 0;
}
.pagination .page-numbers{
	padding-left: 6px;
	padding-right: 6px;
}
.pagination .current{
	color: #ff9c95;
}
.pagination a.page-numbers{
	color: #b4b4b4;
}
.pagination .dots{
	color: #b4b4b4;
}
.pagination a.prev,
.pagination a.next{
	color: #ff9c95;
}


/*-----------------------------------------------------
@@ LINE
------------------------------------------------------*/
h2.line_hajime{
	margin: 0 0 10px;
}
p.line1{
	margin: 0 0 30px;
}
h3.line2{
	margin: 0 0 20px;
}
h4.line3-1{
	margin: 0 0 10px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	padding-left: 60px;
	background: url(../images/pc_line_houhou1.png) no-repeat 0 0;
}
h4.line3-2{
	margin: 0 0 10px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	padding-left: 60px;
	background: url(../images/pc_line_houhou2.png) no-repeat 0 0;
}
p.line-4{
	margin: 0 0 20px;
}
p.line-qrcode{
	text-align: center;
	padding: 0 0 20px;
	margin: 0 0 20px;
	border-bottom: 1px solid #d2d2d2;
}
p.line-5{
	margin: 0 0 40px;
}

/*-----------------------------------------------------
@@ お問い合わせ
------------------------------------------------------*/
p.p-contact{
	margin: 0 0 30px;
}

/*-----------------------------------------------------
@@ プロに聞け！
------------------------------------------------------*/

h2.pronikike-h2{
	margin: 0 0 10px;
}
h2.pronikike-h2+p{
	margin: 0 0 10px;
}
h2.pronikike-h2+p+p{
	margin: 0 0 7px;
}

/* @@ プロに聞け！　ナビ expert */
ul.pronikike-navi-expert{
	list-style-type: none;
	font-size: 0;
	margin: 0 0 25px;
	border-bottom: 1px solid #b4b4b4;
	height: 44px;
}
ul.pronikike-navi-expert li{
	display: inline-block;
	font-size: 18px;
	margin-top: 1px;
}
ul.pronikike-navi-expert li a{
	display: block;
	color: #b4b4b4;
	padding: 12px 19px;
}
ul.pronikike-navi-expert li a.current{
	color: #ff9c95;
	border-bottom: 2px solid #ff9c95;
}



h3.expert-cat1{
	clear: both;
	font-size: 14px;
	font-weight: normal;
	color: white;
	text-align: center;
	width: 120px;
	background-color: #b4b4b4;
	padding: 4px 0;
	margin: 0 0 20px;
	float: left;
}

ul.expert-list1{
	margin: 0 0 20px 140px;
}
ul.expert-list2{
	margin: 0 0 0 140px;
}
ul.expert-list1,
ul.expert-list2{
	list-style-type: none;
	font-size: 0;
}
ul.expert-list1 li,
ul.expert-list2 li{
	display: inline-block;
	font-size: 14px;
}
ul.expert-list1 li a,
ul.expert-list2 li a{
	color: #5a5a5a;
	display: block;
}
ul.expert-list1 li a{
	margin: 4px 10px 4px 0;
	padding: 0px 10px 0 0;
	border-right: 1px solid #5a5a5a;
}
ul.expert-list1 li:last-child a{
	padding-right: 0;
	border-right: none;
}
ul.expert-list2 li a{
	padding: 4px 8px;
	background-color: #f4f4f4;
	margin: 0 9px 10px 0;
}
p.expert-list-bottom{
	color: #5a5a5a;
	text-align: right;
}
p.expert-list-bottom a{
	color: #5a5a5a;
	font-size: 14px;
}

.expert-banner{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
	margin: 60px 0;
}
.expert-banner a{
	display: block;
}

/*-----------------------------------------------------
@@ プロに聞け！ 詳細
------------------------------------------------------*/
.article-date{
	font-size: 14px;
	color: #b4b4b4;
	margin-bottom: 10px;
}
h2.article-title{
	font-size: 22px;
	line-height: 1.5;
	margin-bottom: 12px;
}

.article-info{
	position: relative;
	padding-bottom: 14px;
	border-bottom: 1px solid #b4b4b4;
	margin-bottom: 30px;
	height: 28px;
}
.article-info p{
	font-size: 14px;
	line-height: 2;
}
.pronikike-category2{
	border: 1px solid #ff9c95;
	color: #ff9c95;
	padding: 0 8px;
	margin: 0 10px 0 0;
}
.pronikike-author2{
	margin: 0 18px 0 0;
	color: #b4b4b4;
}
.pronikike-views2{
	color: #b4b4b4;
}

.sns-button{
	position: absolute;
	top: 4px;
	right: 0;
	height: 20px;
	font-size: 0px;
	font-size: 0;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: flex-end;/* Mac Safari */
	justify-content: flex-end;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
}
.sns-button a{
	display: inline-block;
	margin: 0 8px 0 0;
}


/* @@ 本文 */
.article-body h3{
	font-size: 18px;
	color: #ff9c95;
	margin: 0 0 20px;
	border-left: 4px solid #ff9c95;
	padding-left: 13px;
}
.article-body p{
	line-height: 1.5;
	margin: 0 0 30px;
}

/* @@ プロ情報 */
.expert-pro-infomation{
	background-color: #f0f0f0;
	padding: 30px;
	margin: 30px 0 20px 0;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
}
img.pro-photo1{
	border-radius: 75px;
}
.expert-pro-infomation-left{
	width: 150px;
}
.expert-pro-infomation-right{
	width: 470px;
}
.expert-pro-infomation-right-p1{
	margin: 10px 0 10px;
	line-height: 1;
}
.expert-pro-infomation-right-p2{
	margin: 0 0 20px;
	font-size: 18px;
	line-height: 1;
}
.expert-pro-infomation-right-p3{
	margin: 0 0 20px;
	line-height: 1.5;
}
.expert-pro-infomation-right-p4{
	margin: 0;
	line-height: 1;
}
.expert-pro-infomation-right-p4 a{
	display: inline-block;
	color: white;
	padding: 0 34px;
	border-radius: 3px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	border: none;
	background-color: #ff9c95;
	text-decoration: none;
}
.expert-pro-infomation-right-p4 a:hover{
	opacity: 0.7;
}

/* @@ キーワード */
.expert-keyword{
	margin: 20px 0 40px;
}
.expert-keyword span,
.expert-keyword p{
	width: 90px;
	font-size: 14px;
	float: left;
	margin-top: 2px;
}

ul.expert-keyword-list{
	margin: 0 0 0 90px;
	list-style-type: none;
	font-size: 0;
}
ul.expert-keyword-list li{
	display: inline-block;
	font-size: 14px;
}
ul.expert-keyword-list li a{
	color: #5a5a5a;
	display: block;
}
ul.expert-keyword-list li a{
	padding: 4px 8px;
	background-color: #f4f4f4;
	margin: 0 9px 10px 0;
}

/* @@ ページネーション */
.expert-pagenation{
	margin: 40px 0 60px;
	height: 16px;
	position: relative;
}
.expert-pagenation a.expert-pagenation-prev{
	position: absolute;
	top: 0;
	left: 0;
}
.expert-pagenation a.expert-pagenation-center{
	position: absolute;
	top: 0;
	left: 150px;
	width: 400px;
	text-align: center;
}
.expert-pagenation a.expert-pagenation-next{
	position: absolute;
	top: 0;
	right: 0;
}

/* @@ 人気記事 */
h3.expert-ninkikiji{
	color: white;
	line-height: 24px;
	font-size: 16px;
	font-weight: normal;
	padding-left: 10px;
	background-color: #ff9c95;
}
ul.expert-ninkikiji-list{
	list-style-type: none;
	margin-bottom: 10px;
}
ul.expert-ninkikiji-list li{
	border-bottom: 1px solid #d2d2d2;
}
ul.expert-ninkikiji-list a{
	display: block;
	color: #5a5a5a;
	padding: 12px 20px;
}
ul.expert-ninkikiji-list+p{
	text-align: right;
}
ul.expert-ninkikiji-list+p a{
	color: #5a5a5a;
}

/* @@ ソート */
.expert-result-category{
	margin: 0 0 10px;
}

/* @@ タグ一覧 */
h2.expert-tag-h2{
	font-size: 22px;
	font-weight: normal;
	margin: 0 0 20px;
}
h3.expert-tag-h3{
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 10px;
	color: #ff9c95;
}

ul.expert-list3{
	margin: 0 0 20px;
}
ul.expert-list3{
	list-style-type: none;
	font-size: 0;
}
ul.expert-list3 li{
	display: inline-block;
	font-size: 14px;
}
ul.expert-list3 li a{
	color: #5a5a5a;
	display: block;
}
ul.expert-list3 li a{
	padding: 4px 8px;
	background-color: #f4f4f4;
	margin: 0 9px 10px 0;
}

/* @@ プロ一覧 詳細 */
h2.pro-member-title{
	color: #ff9c95;
	font-size: 22px;
	font-weight: bold;
	margin: 20px 0 10px;
}

h3.pro-menber-category{
	color: #ff9c95;
	font-size: 22px;
	font-weight: normal;
	margin: 20px 0 10px;
	padding-left: 40px;
	line-height: 30px;
	height: 30px;
}

.pro-icon01{background: transparent url(../images/pc_pro_icon01.png) no-repeat 0 0;}
.pro-icon02{background: transparent url(../images/pc_pro_icon02.png) no-repeat 0 0;}
.pro-icon03{background: transparent url(../images/pc_pro_icon03.png) no-repeat 0 0;}
.pro-icon04{background: transparent url(../images/pc_pro_icon04.png) no-repeat 0 0;}
.pro-icon05{background: transparent url(../images/pc_pro_icon05.png) no-repeat 0 0;}
.pro-icon06{background: transparent url(../images/pc_pro_icon06.png) no-repeat 0 0;}
.pro-icon07{background: transparent url(../images/pc_pro_icon07.png) no-repeat 0 0;}
.pro-icon08{background: transparent url(../images/pc_pro_icon08.png) no-repeat 0 0;}

.pro-member-infomation{
	margin: 10px 0 20px 0;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
	padding-bottom: 30px;
	border-bottom: 1px solid #d2d2d2;
}
.pro-member-infomation:last-of-type{
	margin: 10px 0 30px 0;
	padding-bottom: 0;
	border-bottom: none;
}

.pro-member-infomation-left{
	width: 150px;
}
.pro-member-infomation-right{
	width: 530px;
}
.pro-member-infomation-right-p1{
	margin: 10px 0 10px;
	line-height: 1;
}
.pro-member-infomation-right-p2{
	margin: 0 0 20px;
	font-size: 18px;
	line-height: 1;
}
.pro-member-infomation-right-p3{
	margin: 0 0 20px;
	line-height: 1.5;
}
.pro-member-infomation-right-p4{
	margin: 0;
	line-height: 1;
}
.pro-member-infomation-right-p4 a{
	display: inline-block;
	color: white;
	width: 160px;
	border-radius: 3px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	border: none;
	background-color: #ff9c95;
	text-decoration: none;
}
.pro-member-infomation-right-p4 a:hover{
	opacity: 0.7;
}

img.pro-photo2{
	border-radius: 75px;
}

ul.pro-member-infomation-sns{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	align-items: center;	/* 縦方向で真ん中にそろえる */
	list-style-type: none;
	height: 30px;
	width: 100%;
}
ul.pro-member-infomation-sns li{
	margin-right: 6px;
}


.pro-member-infomation-right-d1{
	font-size: 18px;
	padding-left: 30px;
	color: #ff9c95;
	margin: 10px 0;
	line-height: 1;
	display: block;
	height: 20px;
}
.pro-member-infomation-right-d2{
	font-size: 18px;
	margin: 10px 0;
	line-height: 1;
}
.pro-member-infomation-right-d3{
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 30px;
	line-height: 1;
}
.pro-member-infomation-right-d4{
	position: relative;
}
.pro-member-infomation-right-d4 span{
	position: absolute;
	top: 0px;
	left: 240px;
	display: block;
	color: white;
	background-color: #ff9c95;
	padding: 0 10px;
}
.pro-member-infomation-right-d4 .pro-website{
	position: absolute;
	top: 0px;
	left: 290px;
	display: block;
	width: 240px;
	color: #5a5a5a;
}


.pro-icon20{
		-webkit-background-size: 20px 20px; /* 表示させるサイズ WebKit */
		background-size: 20px 20px; /* 表示させるサイズ WebKit以外 */
}

.sns-btn-twitter{
	display: inline-block;
	width: 60px;
	height: 20px;
	background: url(../images/pc_sns1_twitter.png) no-repeat 0 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.sns-btn-facebook{
	display: inline-block;
	width: 60px;
	height: 20px;
	background: url(../images/pc_sns1_facebook.png) no-repeat 0 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.sns-btn-google{
	display: inline-block;
	width: 60px;
	height: 20px;
	background: url(../images/pc_sns1_google.png) no-repeat 0 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.pro-menber-article{
	margin: 20px 0 60px;
	padding-top: 30px;
	/*border-top: 1px solid #d2d2d2;*/
}
.pro-menber-article h3{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #ff9c95;
}
.pro-menber-article p{
	line-height: 1.5;
	margin-bottom: 30px;
}

/*-----------------------------------------------------
@@ 初めてのママの就活
------------------------------------------------------*/
.guide-box1{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
	margin: 20px 0 20px;
}

h3.guide-h3{
	color: white;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	background-color: #ff9c95;
	margin: 0 0 2px;
}

.guid-list-box-content{
	margin: 20px 0 20px;
	padding: 0 0 10px;
	border-bottom: 1px solid #d2d2d2;
}
.guid-list-box-content:last-child{
	margin: 20px 0 10px;
	padding: 0;
	border-bottom: none;
}
.guid-list{
	display: table-cell;
	height: 50px;
	padding-left: 60px;
	text-align: left;
	vertical-align: middle;
	font-size: 18px;
	font-weight: bold;
	color: #5a5a5a;
	line-height: 1.3;
	padding-bottom: 15px;
}
/*a.guid-list{
	text-decoration: underline;
}*/
a.guid-list:hover{
	color: #ff9c95;
}
.guid-list-new{
	background: url(../images/pc_guid_list_new.png) no-repeat 0 0;
}
.guid-list-q{
	background: url(../images/pc_guid_list_q.png) no-repeat 0 0;
}
.guid-list-a{
	background: url(../images/pc_guid_list_a.png) no-repeat 0 0;
}

.guid-list-box-content span.cat{
	border: 1px solid #ff9c95;
	display: inline-block;
	color: #ff9c95;
	font-size: 14px;
	padding: 2px 10px;
	margin-right: 5px;
}
ul.expert-list4{
	display: inline;
	list-style-type: none;
	font-size: 0;
}
ul.expert-list4 li{
	display: inline-block;
	font-size: 14px;
}
ul.expert-list4 li a{
	color: #5a5a5a;
	display: block;
}
ul.expert-list4 li a{
	padding: 4px 8px;
	background-color: #f4f4f4;
	margin: 0 9px 10px 0;
}

p.guide-bottom{
	text-align: center;
	margin: 10px 0 40px;
}
p.guide-bottom a{
	color: white;
	font-size: 14px;
	display: inline-block;
	width: 180px;
	height: 30px;
	line-height: 30px;
	background-color: #ff9c95;
	border-radius: 3px;
}
p.guide-bottom a:hover{
	opacity: 0.7;
	text-decoration: none;
}

.guide-banner{
	text-align: center;
	margin: 30px 0 0 0;
}


/*-----------------------------------------------------
@@ 初めてのママの就活 職務経歴書の書き方
------------------------------------------------------*/
.job-resume1{
	margin: 0 0 10px;
}
.job-resume2{
	margin: 0 0 20px;
}

dl.job-resume-dl1{
	margin: 0 0 40px 0;
}
dl.job-resume-dl1 dt{
	margin: 20px 0 0 0;
	font-size: 18px;
	font-weight: bold;
	padding-left: 40px;
	line-height: 30px;
}
dl.job-resume-dl1 dt.job-resume-dl1-1{
	background: url(../images/pc_circle1.png) no-repeat 0 0;
}
dl.job-resume-dl1 dt.job-resume-dl1-2{
	background: url(../images/pc_circle2.png) no-repeat 0 0;
}
dl.job-resume-dl1 dt.job-resume-dl1-3{
	background: url(../images/pc_circle3.png) no-repeat 0 0;
}
dl.job-resume-dl1 dt.job-resume-dl1-4{
	background: url(../images/pc_circle4.png) no-repeat 0 0;
}
dl.job-resume-dl1 dd{
	font-size: 18px;
	padding-left: 40px;
}

h3.job-resume-h3{
	color: white;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	background-color: #ff9c95;
	margin: 40px 0 20px;
}

.job-resume-box1{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
	margin: 20px 0 40px;
}

h4.job-resume-h4{
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	padding: 20px 0 0 22px;
	background: url(../images/pc_circle_pink.png) no-repeat 0 20px;
	margin: 20px 0 10px;
	border-top: 1px solid #d2d2d2;
}
h4.job-resume-h4:first-of-type{
	padding: 0 0 0 22px;
	background: url(../images/pc_circle_pink.png) no-repeat 0 0;
	margin: 20px 0 10px;
	border-top: none;
}

dl.job-resume-dl2{
	margin: 20px 0;
	padding: 20px;
	background-color: #f4f4f4;
}
dl.job-resume-dl2 dt{
	margin: 0 0 10px;
	color: #ff9c95;
	font-size: 18px;
	font-weight: bold;
}
dl.job-resume-dl2 dd{
	margin: 0 0 20px;
}
dl.job-resume-dl2 dd:last-child{
	margin: 0 0 0;
}

.job-resume-btn1{
	margin: 30px auto 40px;
}
.job-resume-btn1 a{
	display: block;
	color: white;
	width: 300px;
	border-radius: 3px;
	text-align: center;
	line-height: 26px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	margin: 0 auto;
	background-color: #ffd228;
	box-shadow: 0 4px 0 rgba(218,180,35,1);
}
.job-resume-btn1 a:hover{
	opacity: 0.7;
	text-decoration: none;
}

dl.job-resume-dl3{
	margin: 20px 0 40px 0;
}
dl.job-resume-dl3 dt{
	margin: 0 0 10px 0;
	font-size: 18px;
	font-weight: bold;
	padding-left: 30px;
	line-height: 20px;
	background: url(../images/pc_check.png) no-repeat 0 0;
}
dl.job-resume-dl3 dd{
	font-size: 16px;
	margin: 0 0 20px 0;
	line-height: 1.5;
}

ul.job-resume-1{
	margin: 20px 0;
	list-style-type: none;
}
ul.job-resume-1 li{
	margin: 0 0 20px 1em;
	line-height: 1.5;
	text-indent: -1em;
}
ul.job-resume-1 li:before{
	content: "・";
}
ul.job-resume-1 li div{
	background-color: #f4f4f4;
	margin: 20px 0 0 -1em;
	padding: 20px;
	text-indent: 0;
}
ul.job-resume-1 li div span{
	color: #ff9c95;
}

ol.job-resume-2{
	margin: 20px 0;
	list-style-type: none;
}
ol.job-resume-2 li{
	margin: 0 0 20px 1em;
	line-height: 1.5;
	text-indent: -1em;
}
ol.job-resume-2 li div{
	background-color: #f4f4f4;
	margin: 20px 0 0 -1em;
	padding: 20px;
	text-indent: 0;
}
ol.job-resume-2 li div span{
	color: #ff9c95;
}



h4.job-type-h4{
	font-size: 18px;
	font-weight: bold;
	color: #ff9c95;
	margin: 30px 0 20px;
	padding-bottom: 6px;
	border-bottom: 1px solid #ff9c95;
}

table.job-type-table1{
	margin: 20px 0;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #b4b4b4;
}
table.job-type-table1 th{
	color: white;
	background-color: #b4b4b4;
	border-bottom: 1px solid white;
	font-size: 14px;
	line-height: 1.5;
	padding: 8px 20px;
	width: 160px;
	font-weight: normal;
}
table.job-type-table1 td{
	background-color: white;
	border-bottom: 1px solid #b4b4b4;
	font-size: 14px;
	line-height: 1.5;
	padding: 8px 20px;
}
table.job-type-table1 tr:last-child th,
table.job-type-table1 tr:last-child td{
	border-bottom: 1px solid #b4b4b4;
}

ul.job-type-list1{
	margin: 40px 0 0 0;
	font-size: 0;
	list-style-type: none;
	box-sizing: border-box;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;

}
ul.job-type-list1 li{
	display: block;
	margin: 0 20px 20px 0;
	width: 340px;
	height: 50px;
}
ul.job-type-list1 li:nth-child(2n){
	margin: 0 0 20px 0;
}
/*ul.job-type-list1 li a{
	display: block;
	width: 320px;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background: #ffd228 url(../images/pc_sankaku1.png) no-repeat 316px 50%;
	font-size: 16px;
	font-weight: bold;
	border-radius: 3px;
}*/

.guide-memo-select1{
}

.guide-memo-select1 select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/*height: 30px;
	padding: 0 20px 0 10px;*/
	/*background-color: #ff9c95;*/
	color: white;
	border: none;
	border-radius: 3px;
	background: #ffd228 url(../images/pc_select_arrow3-down.png) no-repeat 100% 50%;
	font-size: 16px;
	font-weight: bold;
	box-sizing: border-box;
	width: 340px;
	height: 50px;
	margin: 0;
	padding: 0 0 0 10px;
}
/*.guide-memo-select1 select:focus{
	background: #ffd228 url(../images/pc_select_arrow3-up.png) no-repeat 100% 50%;
}*/
.guide-memo-select1 select::-ms-expand {
	display: none;
}
/*.guide-memo-select1 select option{
	color: #5a5a5a;
	background-color: #fffaea;
}
.guide-memo-select1 select option:focus{
	color: #5a5a5a;
	background-color: #feedb2;
}*/


/* @@ Select or Die jQuery select装飾*/
.guide-memo-select1 .sod_select{
	display: inline-block;
	position: relative;
	line-height: 50px;
	width: 340px;
	height: 50px;
	padding: 0 10px;
	border: none;
	color: white;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	text-transform: uppercase;
	outline: 0;
	outline-offset: -2px; /* Opera */
	cursor: default;
	background: #ffd228 url(../images/pc_select_arrow3-down.png) no-repeat 100% 50%;
}
.guide-memo-select1 .sod_select:before,
.guide-memo-select1 .sod_select:after,
.guide-memo-select1  .sod_select:after{	/*デフォルトの▲を表示させない*/
	content: "";
}
.guide-memo-select1 .sod_select:hover,
.guide-memo-select1 .sod_select.open,
.guide-memo-select1 .sod_select.focus {	/*操作時のborder*/
	border: none;
}
.guide-memo-select1 .sod_select .sod_list_wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	height: auto;
	width: 340px;
	margin: 1px 0 0 0px;
	background: #fffaea;
	border: 1px solid #d2d2d2;
	border-top: none;
	color: #4a4a4a;
	font-weight: 500;
	z-index: 1;
	box-shadow:0px 2px 3px 3px rgba(222,222,222, 0.5);
}
.guide-memo-select1 .sod_select.open { color: #ffffff; }
/* メニューを出した時の現在選ばれている文字の色*/
.guide-memo-select1 .sod_select .sod_option.active{
/*メニュー上でオンマウス状態の選択肢*/
	background: #feedb2;
	color: #4a4a4a;
}
.guide-memo-select1 .sod_select .sod_option{	/*メニュー内の選択肢の情報*/
	padding: 0 5px 0 10px;
	line-height: 30px;
	/*color: #4a4a4a;*/
}
.guide-memo-select1 .sod_select .sod_option.selected:before{
	content: "";
	background: none;
}


/*-----------------------------------------------------
@@ 就活メモ
------------------------------------------------------*/
.guide-title-and-select{
	position: relative;
}
.guide-select1{
	position: absolute;
	top: 0;
	right: 0;
}
.guide-select1 select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 30px;
	padding: 0 20px 0 10px;
	/*background-color: #ff9c95;*/
	color: white;
	border-radius: 0;
	border-left: 1px solid white;
	background: #ff9c95 url(../images/pc_select_arrow2.png) no-repeat 100% 50%;
	font-size: 14px;
}
/*.guide-select1 select:focus{
	background: #ff9c95 url(../images/pc_select_arrow2-up.png) no-repeat 100% 50%;
}*/
.guide-select1 select::-ms-expand {
	display: none;
}
.guide-select1 select option{
	color: #4a4a4a;
	background-color: #fff0f0;
	/*line-height: 30px;*/
}
.guide-select1 select option:focus{
	color: #fff0f0;
	background-color: #4a4a4a;
}

/* @@ Select or Die jQuery select装飾*/
.guide-select1 .sod_select{
	display: inline-block;
	position: relative;
	line-height: 30px;
	width: 200px;
	height: 30px;
	padding: 0 10px;
	border-top: 1px solid #ff9c95;
	border-right: 1px solid #ff9c95;
	border-bottom: 1px solid #ff9c95;
	border-left: 1px solid white;
	background: #ffffff;
	color: white;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	text-transform: uppercase;
	outline: 0;
	outline-offset: -2px; /* Opera */
	cursor: default;
	background: #ff9c95 url(../images/pc_select_arrow2.png) no-repeat 100% 50%;
}
.guide-select1 .sod_select:before,
.guide-select1 .sod_select:after,
.guide-select1  .sod_select:after{	/*デフォルトの▲を表示させない*/
	content: "";
}
.guide-select1 .sod_select:hover,
.guide-select1 .sod_select.open,
.guide-select1 .sod_select.focus {	/*操作時のborder*/
	border-top: 1px solid #ff9c95;
	border-right: 1px solid #ff9c95;
	border-bottom: 1px solid #ff9c95;
	border-left: 1px solid white;
}
.guide-select1 .sod_select .sod_list_wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	height: auto;
	width: 200px;
	margin: 1px 0 0 -1px;
	background: #fff0f0;
	border: 1px solid #d2d2d2;
	border-top: none;
	color: #4a4a4a;
	font-weight: 500;
	z-index: 1;
	box-shadow:0px 2px 3px 3px rgba(222,222,222, 0.5);
}
.guide-select1 .sod_select.open { color: #4a4a4a; }
/* メニューを出した時の現在選ばれている文字の色*/
.guide-select1 .sod_select .sod_option.active{
/*メニュー上でオンマウス状態の選択肢*/
	background: #ff9c95;
	color: white;
}
.guide-select1 .sod_select .sod_option{	/*メニュー内の選択肢の情報*/
	padding: 0 5px 0 10px;
	line-height: 30px;
	/*color: #4a4a4a;*/
}
.guide-select1 .sod_select .sod_option.selected:before{
	content: "";
	background: none;
}







.pagination-guide{
	margin: 20px 0 40px;
}

.guid-list-p1{
	margin: 10px 0 30px 60px;
}
.guid-list-p2{
	font-size: 14px;
	line-height: 30px;
	text-align: right;
	height: 30px;
}
.guid-list-p2 span{
	padding-left: 40px;
	line-height: 30px;
	height: 30px;
	display: inline-block;
}

.guid-list-icon01{
	background: url(../images/pc_guide_list_icon01.png) no-repeat 0 0;
}
.guid-list-icon02{
	background: url(../images/pc_guide_list_icon02.png) no-repeat 0 0;
}
.guid-list-icon03{
	background: url(../images/pc_guide_list_icon03.png) no-repeat 0 0;
}
.guid-list-icon04{
	background: url(../images/pc_guide_list_icon04.png) no-repeat 0 0;
}
.guid-list-icon05{
	background: url(../images/pc_guide_list_icon05.png) no-repeat 0 0;
}
.guid-list-icon06{
	background: url(../images/pc_guide_list_icon06.png) no-repeat 0 0;
}
.guid-list-icon07{
	background: url(../images/pc_guide_list_icon07.png) no-repeat 0 0;
}
.guid-list-icon08{
	background: url(../images/pc_guide_list_icon08.png) no-repeat 0 0;
}
.guid-list-icon09{
	background: url(../images/pc_guide_list_icon09.png) no-repeat 0 0;
}
.guid-list-icon10{
	background: url(../images/pc_guide_list_icon10.png) no-repeat 0 0;
}


h3.guide-h3-2{
	color: white;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	background-color: #b4b4b4;
	margin: 0 0 2px;
}


/*-----------------------------------------------------
@@ トレママ
------------------------------------------------------*/
h3.toremama-h3{
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	padding-left: 40px;
	margin: 30px 0 10px;
}
.toremama-h3-icon01{background: url(../images/pc_toremama_icon01.png) no-repeat 0 0;}
.toremama-h3-icon02{background: url(../images/pc_toremama_icon02.png) no-repeat 0 0;}

.toremama-blog-box{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
	margin: 10px 0 30px;
}
.toremama-blog-box a{
	width: 340px;
	display: block;
	margin-bottom: 30px;
	color: #5a5a5a;
}
.toremama-blog-box a p{
	font-size: 14px;
	line-height: 1.2;
	margin: 10px 0 0 0;
	height: 34px;
	display: block;
}

.toremama-newarticle-box{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
	margin: 10px 0 30px;
}
.toremama-newarticle{
	width: 340px;
	margin-bottom: 30px;
	border: 1px solid #d2d2d2;
	padding: 15px 29px;
	box-sizing: border-box;
	position: relative;
}
.toremama-newarticle-newflag{
	position: absolute;
	top: -1px;
	left: 29px;
	width: 40px;
	height: 40px;
	background: url(../images/pc_toremama_new_flag.png) no-repeat 0 0;
}
h4.toremama-newarticle-blog{
	font-size: 14px;
	font-weight: normal;
	padding-left: 49px;
	height: 24px;
	margin: 0 0 10px;
}
h4.toremama-newarticle-title{
	font-size: 16px;
	font-weight: normal;
	height: 40px;
	margin: 0 0 10px;
}
h4.toremama-newarticle-title a{
	color: #4a4a4a;
}
.toremama-newarticle-excerpt{
	line-height: 1.5;
	/*height: 40px;*/
	overflow: hidden;
	margin: 10px 0 14px 0;
}
ul.toremama-newarticle-info{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
	list-style-type: none;
}
ul.toremama-newarticle-info li{
	color: #b4b4b4;
}


h3.toremama-h3-2{
	color: white;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	background-color: #ff9c95;
	margin: 30px 0 20px;
}
ul.toremama-popular-list{
	list-style-type: none;
	margin: 20px 0 0 ;
}
ul.toremama-popular-list li{
	padding: 0 0 20px;
	margin: 0 0 20px;
	border-bottom: 1px solid #d2d2d2;
	min-height: 106px;
}
ul.toremama-popular-list li:last-child{
	padding: 0 0 0;
	margin: 0 0 20px;
	border-bottom: none;
}

ul.toremama-popular-list li img{
	float: left;
}
h4.toremama-popular-list-title{
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 10px 180px;
}
h4.toremama-popular-list-title a{
	color: #4a4a4a;
}
.toremama-popular-list-excerpt{
	font-size: 16px;
	margin: 0 0 20px 180px;
	line-height: 1.3;
}
.toremama-popular-list-link{
	font-size: 14px;
	margin: 0 0 0 180px;
	text-align: right;
}
.toremama-popular-list-date{
	font-size: 14px;
	margin: 0 0 0 180px;
	color: #d2d2d2;
}


/* @@ ママ一覧 */
.writermama-info{
	margin: 10px 0 20px 0;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
	padding-bottom: 30px;
	border-bottom: 1px solid #d2d2d2;
}
.writermama-info:last-of-type{
	margin: 10px 0 60px 0;
	padding-bottom: 0;
	border-bottom: none;
}

.writermama-info-left{
	width: 150px;
}
.writermama-info-right{
	width: 530px;
}
.writermama-info-right-p1{
	margin: 10px 0 10px;
	line-height: 1;
}
.writermama-info-right-p2{
	margin: 0 0 20px;
	font-size: 18px;
	line-height: 1;
}
.writermama-info-right-p3{
	margin: 0 0 20px;
	line-height: 1.5;
}
img.pro-photo2{
	border-radius: 75px;
}

ul.writermama-info-sns{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	align-items: center;	/* 縦方向で真ん中にそろえる */
	list-style-type: none;
	height: 30px;
	width: 100%;
}
ul.writermama-info-sns li{
	margin-right: 6px;
}
ul.writermama-info-sns li:last-child{
	margin-left: auto;
	margin-right: 0;
	/*align-items: flex-end;*/
}
ul.writermama-info-sns li:last-child a{
	display: block;
	font-size: 14px;
	line-height: 30px;
	background-color: #ff9c95;
	border-radius: 3px;
	width: 170px;
	color: white;
	text-align: center;
	text-decoration: none;
}
ul.writermama-info-sns li:last-child a:hover{
	opacity: 0.7;
}

.writermama-info-right-p4{
	margin: 10px 0 0 0;
}
.writermama-info-right-p4 span{
	display: inline-block;
	color: white;
	background-color: #ff9c95;
	padding: 0 10px;
	margin-right: 10px;
}
.writermama-info-right-p4 .pro-website{
	color: #5a5a5a;
}

/* @@ ママ記事一覧 */
.toremama-motto{
	margin-bottom: 60px !important;
}

.sns-button-2{
	margin: 10px 0 20px;
	height: 20px;
	text-align: right;
	line-height: 20px;
	overflow: hidden;
	display: block;
	font-size: 0;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: flex-end;/* Mac Safari */
	justify-content: flex-end;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
}
.sns-button-2 a,
.sns-button-2 iframe{
	display: block;
	margin: 0 0 0 8px;
}


.toremama-blog-setumei{
	margin: 20px 0 30px;
	font-size: 14px;
}

/* @@ ページネーション */
.toremama-pagenation{
	margin: 40px 0 40px;
	height: 16px;
	position: relative;
}
.toremama-pagenation a.toremama-pagenation-prev{
	position: absolute;
	top: 0;
	left: 0;
}
.toremama-pagenation a.toremama-pagenation-center{
	position: absolute;
	top: 0;
	left: 150px;
	width: 400px;
	text-align: center;
}
.toremama-pagenation a.toremama-pagenation-next{
	position: absolute;
	top: 0;
	right: 0;
}

/* @@ 筆者情報 */
.toremama-author-infomation{
	/*background-color: #f0f0f0;
	padding: 30px;*/
	margin: 40px 0 60px 0;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
}
img.pro-photo1{
	border-radius: 75px;
}
.toremama-author-infomation-left{
	width: 150px;
}
.toremama-author-infomation-right{
	width: 470px;
}
.toremama-author-infomation-right-p1{
	margin: 10px 0 10px;
	line-height: 1;
}
.toremama-author-infomation-right-p2{
	margin: 0 0 20px;
	font-size: 18px;
	line-height: 1;
}
.toremama-author-infomation-right-p3{
	margin: 0 0 20px;
	line-height: 1.5;
}
/*.toremama-author-infomation-right-p4{
	margin: 0;
	line-height: 1;
}
.toremama-author-infomation-right-p4 a{
	display: inline-block;
	color: white;
	padding: 0 34px;
	border-radius: 3px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	border: none;
	background-color: #ff9c95;
}*/

ul.toremama-author-infomation-sns{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	align-items: center;	/* 縦方向で真ん中にそろえる */
	list-style-type: none;
	height: 30px;
	width: 100%;
	margin: 14px 0 0 0;
}
ul.toremama-author-infomation-sns li{
	margin-right: 6px;
}
ul.toremama-author-infomation-sns li:last-child{
	margin-left: auto;
	margin-right: 0;
	/*align-items: flex-end;*/
}
ul.toremama-author-infomation-sns li:last-child a{
	display: block;
	font-size: 14px;
	line-height: 30px;
	background-color: #ff9c95;
	border-radius: 3px;
	width: 170px;
	color: white;
	text-align: center;
}

.toremama-author-infomation-right-p4{
	margin: 10px 0 0 0;
}
.toremama-author-infomation-right-p4 span{
	display: inline-block;
	color: white;
	background-color: #ff9c95;
	padding: 0 10px;
	margin-right: 10px;
}
.toremama-author-infomation-right-p4 .pro-website{
	color: #5a5a5a;
}


/*-----------------------------------------------------
@@ よくある質問
------------------------------------------------------*/
h3.faq-h3{
	color: #ff9c95;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	background-color: #fff0f0;
	margin: 40px 0 10px;
}

ul.faq-title-bottom{
	list-style-type: none;
	font-size: 0;
	margin: 10px 0 40px;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: flex-end;/* Mac Safari */
	justify-content: flex-end;
}
ul.faq-title-bottom li{
	display: block;
	font-size: 14px;
	padding-right: 1em;
	margin-right: 1em;
	border-right: 1px solid #5a5a5a;
}
ul.faq-title-bottom li:last-child{
	padding-right: 0;
	margin-right: 0;
	border-right: none;
}
ul.faq-title-bottom li a{
	display: block;
	color: #5a5a5a;
}

h4.faq-h4{
	width: 80px;
	font-size: 16px;
	float: left;
	line-height: 1.2;
}

.faq-box1{
	margin: 0 0 60px;
}
.faq-box1 dl {
	width: 601px;
	float: right;
	box-sizing: border-box;
	padding-left: 20px;
	border-left: 1px solid #d2d2d2;
}
.faq-box1 dt {
	position: relative;
	padding: 0 30px 0 45px;
	font-size: 16px;
	font-weight: bold;
	box-sizing: inherit;
	min-height: 30px;
	line-height: 30px;
	background: #f4f4f4 url(../images/pc_faq_q_long.png) no-repeat 0 50%;
	margin-top: 20px;
}
.faq-box1 dt:first-child{
	margin-top: 0;
}

.faq-box1 dt span {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 100%;
	background: transparent url(../images/pc_faq_arrow_down.png) no-repeat 0 50%;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.faq-box1 dt.selected span {
	background: transparent url(../images/pc_faq_arrow_up.png) no-repeat 0 50%;
}
.faq-box1 dd {
	display: none;	/* 始めは非表示 */
	/*padding: 10px;*/
	/*height: 0;  ここでもとの高さを0にしとく */
	background: white url(../images/pc_faq_a.png) no-repeat 0 0;
	padding: 4px 4px 20px 45px;
	line-height: 1.5;
	overflow: hidden;
	box-sizing: inherit;
	margin: 5px 0 0 0;
}
.faq-box1 dd.selected {
}

.faq-box1 dt,
#allopen,
#allclose {
	cursor: pointer;
	display: block;
}
#allclose {	display: none;	/* 始めは非表示 */}

.faq-box1-img {
	display: block;
	margin-top: 10px;
}
.faq-box1-img-banner {
	width: 200px;
	margin-right: 10px;
}
.faq-box1-img-banner:last-child {
	margin-right: 0;
}


/*-----------------------------------------------------
@@ ママの求人とは
------------------------------------------------------*/
h3.about-h3{
	margin: 0 0 30px;
}
h4.about-h4-1{
	font-size: 22px;
	font-weight: bold;
	color: #ff9c95;
	line-height: 30px;
	margin: 0 0 20px;
	padding-left: 40px;
	background: url(../images/pc_about_image03.png) no-repeat 0 0;
}

ul.about-list1{
	list-style-type: none;
	margin: 30px 0 30px;
}
ul.about-list1 li{
	margin: 0 0 20px 0;
	font-weight: bold;
	/*text-indent: -20px;*/
	background: url(../images/pc_circle_yellow16.png) no-repeat 0 2px;
	padding-left: 20px;
	line-height: 1.2;
}

.about-box1{
	border: 2px solid #ff9c95;
	border-radius: 3px;
	margin-top: 60px;
	padding: 58px 38px 28px;
	position: relative;
}

h4.about-h4-2{
	position: absolute;
	width: 306px;
	height: 60px;
	top: -22px;
	left: 195px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background: url(../images/pc_about_image02.png) no-repeat 0 0;
}

dl.about-list1{
}
dl.about-list1 dt{
	font-size: 18px;
	font-weight: bold;
	color: #ff9c95;
	line-height: 30px;
	margin: 0 0 10px;
	padding-left: 40px;
}
dl.about-list1 dt.about-list1-no1{
	background: url(../images/pc_circle_pink1.png) no-repeat 0 0;
}
dl.about-list1 dt.about-list1-no2{
	background: url(../images/pc_circle_pink2.png) no-repeat 0 0;
}
dl.about-list1 dt.about-list1-no3{
	background: url(../images/pc_circle_pink3.png) no-repeat 0 0;
}
dl.about-list1 dd{
	margin: 0 0 20px;
	padding: 0 0 20px;
	border-bottom: 1px solid #d2d2d2;
	line-height: 1.5;
}
dl.about-list1 dd:last-of-type{
	margin: 0;
	padding: 0;
	border: none;
}

/*-----------------------------------------------------
@@ ママの求人のお約束
------------------------------------------------------*/
h3.proise-h3{
	margin: 0 0 20px;
}
h4.promise-h4-1{
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	width: 700px;
	height: 30px;
	background: url(../images/pc_promise_title01.png) no-repeat 0 0;
	margin: 60px 0 40px;
}
p.promise-p1{
	font-size: 18px;
	margin: 20px 0 60px;
}

dl.promise-list1{
	box-sizing: border-box;
}
dl.promise-list1 dt{
	width: 700px;
	min-height: 22px;
	box-sizing: inherit;
	padding: 0 0 0 120px;
	font-size: 22px;
	font-weight: bold;
	display: block;
	clear: both;
	margin: 0 0 12px;
}
dl.promise-list1 dt span{
	color: #fbce2f;
}
dl.promise-list1 dd{
	padding: 34px 0 0 120px;
	margin: -34px 0 60px 0;
	box-sizing: inherit;
	/*background: #999;*/
	line-height: 1.4;
	display: block;
	min-height: 100px;
}
dl.promise-list1 dd:last-of-type{
	margin-bottom: 20px;
}

dl.promise-list1 dt.promise-list1-no1+dd{
	background: url(../images/pc_promise_icon01.png) no-repeat 0 100%;
}
dl.promise-list1 dt.promise-list1-no2+dd{
	background: url(../images/pc_promise_icon02.png) no-repeat 0 100%;
}
dl.promise-list1 dt.promise-list1-no3+dd{
	background: url(../images/pc_promise_icon03.png) no-repeat 0 100%;
}

.promise-box1{
	background: #f4f4f4;
	margin: 20px 0 0 120px;
	padding: 20px;
}
.promise-p2{
	line-height: 1;
	margin: 0;
	color: #ff9c95;
}

/*-----------------------------------------------------
@@ 運営会社
------------------------------------------------------*/
h3.company-h3{
	color: #ff9c95;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	background-color: #fff0f0;
	margin: 40px 0 20px;
}

.company-table1{
	width: 100%;
}
.company-table1 th,
.company-table1 td{
	border-bottom: 1px dashed #d2d2d2;
	font-size: 14px;
	line-height: 1.5;
}
.company-table1 tr:last-child th,
.company-table1 tr:last-child td{
	border: none;
}
.company-table1 th{
	padding: 20px 10px 20px 10px;
	width: 90px;
	color: #ff9c95;
}
.company-table1 td{
	padding: 20px 0 20px 10px;
}


/*-----------------------------------------------------
@@ 利用規約
------------------------------------------------------*/
h3.terms-h3{
	color: #ff9c95;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	background-color: #fff0f0;
	margin: 40px 0 10px;
}
h4.terms-h4{
	margin: 40px 0 15px;
	color: #ff9c95;
	border-left: 4px solid #ff9c95;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold;
}
p.terms-p1{
	line-height: 1.5;
	font-size: 14px;
	margin: 0;
	text-align: justify;
	text-justify: inter-ideograph;
}

/*-----------------------------------------------------
@@ 個人情報保護方針
------------------------------------------------------*/
h3.privacy-h3{
	color: #ff9c95;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	background-color: #fff0f0;
	margin: 40px 0 10px;
}
h4.privacy-h4{
	margin: 40px 0 15px;
	color: #ff9c95;
	border-left: 4px solid #ff9c95;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold;
}
h5.privacy-h5{
	color: #ff9c95;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
	margin: 20px 0 0 0;
}
p.privacy-p1{
	line-height: 1.5;
	font-size: 14px;
	margin: 0;
	text-align: justify;
	text-justify: inter-ideograph;
}

/*-----------------------------------------------------
@@ わんパク
------------------------------------------------------*/
.wanpaku-list1-box{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari */
	flex-wrap: wrap;
	width: 700px;
	margin: 30px 0 40px;
}
h3.wanpaku-h3-1{
	width: 124px;
	line-height: 62px;
	text-align: center;
	color: white;
	background-color: #ff9c95;
	font-size: 14px;
	font-weight: normal;
	display: block;
}
ul.wanpaku-list1{
	width: 574px;
	height: 62px;
	list-style-type: none;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari */
	flex-wrap: wrap;
	-webkit-align-content: space-between; /* Safari */
	align-content:         space-between;
}
ul.wanpaku-list1 li{
	display: block;
	width: 190px;
	height: 30px;
	background: #f4f4f4;
	/*margin: 0 0 2px;*/
}
ul.wanpaku-list1 li a{
	color: #4a4a4a;
	text-align: center;
	line-height: 30px;
	display: block;
	font-size: 14px;
}
ul.wanpaku-list1 li a:after{
	content: " ＞";
}

.wanpaku-shop-list{
	padding: 0 0 25px;
	margin: 0 0 25px;
	border-bottom: 1px solid #d2d2d2;
}
.wanpaku-shop-list:last-child{
	padding: 0;
	margin: 0 0 25px;
	border: none;
}

h4.wanpaku-shop-name{
	color: #ff9c95;
	font-weight: bold;
	line-height: 30px;
}
h4.wanpaku-newflag{
	padding-left: 45px;
	background: url(../images/pc_wanpaku_new_flag.png) no-repeat 0 0;
}

.wanpaku-shop-subtitle{
	margin: 10px 0 15px;
	line-height: 1.2;
}
.wanpaku-shop-subtitle a{
	color: #4a4a4a;
	text-decoration: none;
}
.wanpaku-shop-subtitle a:hover{
	color: #ff9c95;
	text-decoration: underline;
}

.wanpaku-shop-inbox{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari */
	flex-wrap: wrap;
}
.wanpaku-shop-info{
	width: 440px;
}

dl.wanpaku-shop-list1{
	margin-top: -2px;
}
dl.wanpaku-shop-list1 dt{
	clear: both;
	width: 5em;
	float: left;
	color: #ff9c95;
	display: block;
	line-height: 1.5;
	font-size: 14px;
}
dl.wanpaku-shop-list1 dd{
	display: block;
	line-height: 1.5;
	margin: 0 0 8px 5em;
	font-size: 14px;
}

ul.wanpaku-shop-list2{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari */
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0 0 10px;
}
ul.wanpaku-shop-list2 li{
	display: block;
	width: 146px;
	height: 20px;
	margin: 0 0 1px;
	color: white;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	overflow: hidden;
	background-color: #eeeeee;
}
ul.wanpaku-shop-list2 li.on{
	background-color: #b4b4b4;
}

ul.wanpaku-shop-list3{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-flex-wrap: wrap; /* Mac Safari */
	flex-wrap: wrap;
	list-style-type: none;
}
ul.wanpaku-shop-list3 li{
	font-size: 14px;
	color: #b4b4b4;
	line-height: 1.5;
}
ul.wanpaku-shop-list3 li:last-child{
	margin-left: auto;
}

ul.wanpaku-shop-list3 li.wanpaku-shop-list3-cat{
	border: 1px solid #b4b4b4;
	margin-right: 10px;
	padding: 0 10px;
}

p.wanpaku-bottom-more{
	text-align: center;
	margin: 30px 0 60px;
}
p.wanpaku-bottom-more a{
	color: white;
	font-size: 14px;
	display: inline-block;
	width: 180px;
	height: 30px;
	line-height: 30px;
	background-color: #ff9c95;
	border-radius: 3px;
}
p.wanpaku-bottom-more a:hover{
	opacity: 0.7;
	text-decoration: none;
}

.wanpaku-cat1{
	margin-top: 60px;
}

ul.wanpaku-list2{
	margin: 0 0 20px 140px;
	list-style-type: none;
	font-size: 0;
}
ul.wanpaku-list2 li{
	display: inline-block;
	font-size: 14px;
}
ul.wanpaku-list2 li a{
	color: #5a5a5a;
	display: block;
}
ul.wanpaku-list2 li a{
	margin: 4px 10px 4px 0;
	padding: 0px 10px 0 0;
	border-right: 1px solid #5a5a5a;
}
ul.wanpaku-list2 li:last-child a{
	padding-right: 0;
	border-right: none;
}


h3.wanpaku-sort-title{
	margin: 0 0 30px;
	color: #ff9c95;
	font-weight: normal;
	font-size: 14px;
}

/* @@ わんパク 詳細 */
.wanpaku-info-box{
	border: 1px solid #d2d2d2;
	padding: 30px 30px 10px 30px;
	margin: 60px 0 10px;
}
.wanpaku-info-box+p{
	margin: 10px 0 20px;
	font-size: 14px;
}

h2.wanpaku-info-h2{
	font-size: 18px;
	margin: 0 0 20px;
	color: #ff9c95;
}

ul.wanpaku-shop-list4{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-flex-wrap: wrap; /* Mac Safari */
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0 0 20px;
	margin: 0 0 20px;
	border-bottom: 1px solid #d2d2d2;
}
ul.wanpaku-shop-list4 li{
	display: block;
	width: 126px;
	height: 20px;
	margin: 0 1px 1px 0;
	color: white;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	overflow: hidden;
	background-color: #eeeeee;
}
ul.wanpaku-shop-list4 li.on{
	background-color: #b4b4b4;
}

table.wanpaku-shop-table1{
}
table.wanpaku-shop-table1 th,
table.wanpaku-shop-table1 td{
	font-size: 14px;
	padding: 20px 0;
}
table.wanpaku-shop-table1 th{
	font-weight: bold;
	color: #ff9c95;
	width: 100px;
}
table.wanpaku-shop-table1 td{
}
table.wanpaku-shop-table1 tr{
	border-bottom: 1px solid #d2d2d2;
}
table.wanpaku-shop-table1 tr:last-child{
	border-bottom: none;
}

table.wanpaku-shop-table1 tr.wanpaku-shop-table1-line1{
	border-bottom: none;
}
table.wanpaku-shop-table1 tr.wanpaku-shop-table1-line2 th,
table.wanpaku-shop-table1 tr.wanpaku-shop-table1-line2 td{
	padding-top: 0;
}
.wanpaku-shop-table1-line2 td p{
	margin: 10px 0 0;
	text-align: right;
}

h3.wanpaku-h3-2{
	color: white;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	background-color: #ff9c95;
	margin: 20px 0 0;
}

.wanpaku-box-thumbbox{
	margin: 0 0 20px 0;
}
.wanpaku-box-thumbbox a{
	display: block;
	padding: 20px 0;
	clear: both;
	border-bottom: 1px solid #d2d2d2;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-flex-wrap: wrap; /* Mac Safari */
	flex-wrap: wrap;
	color: #4a4a4a;
}
.wanpaku-box-thumbbox a:last-child{
	border-bottom: none;
}
.wanpaku-box-thumbbox-img{
	width: 180px;
}
.wanpaku-box-thumbbox-info{
	width: 520px;
}
.wanpaku-box-thumbbox-info h4.wanpaku-box-h4-1{
	font-size: 18px;
	margin: 0 0 10px;
}
.wanpaku-box-thumbbox-info h4.wanpaku-box-h4-2{
	font-size: 14px;
	margin: 0 0 10px;
	border: 1px solid #ff9c95;
	display: inline-block;
	padding: 2px 10px;
	color: #ff9c95;
}
.wanpaku-box-thumbbox-info p{
	margin: 0;
}

.wanpaku-spot2{
	font-size: 14px;
	margin: 0 0 0;
	border: 1px solid #4a4a4a;
	display: inline-block;
	padding: 0px 10px;
	color: #4a4a4a;
}


/* @@ わんパク お出かけスポット */
.wanpaku-spot1{
	font-size: 14px;
	margin: 0 0 0;
	border: 1px solid #ff9c95;
	display: inline-block;
	padding: 2px 10px;
	color: #ff9c95;
}

.article-info2{
	position: relative;
	margin-bottom: 20px;
	height: 20px;
}

ul.wanpaku-list3{
	list-style-type: disc;
	margin-top: -2px;
}
ul.wanpaku-list3 li{
	margin: 0 0 0.3em 1em;
	line-height: 1.2;
}


/*-----------------------------------------------------
@@ 
------------------------------------------------------*/

/*-----------------------------------------------------
@@ 
------------------------------------------------------*/
