@charset "utf-8";

/*-----------------------------------------------------
@@ Reset
------------------------------------------------------*/
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
http://code.google.com/p/html5resetcss/downloads/list
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}
th,td{
	text-align: left;
	vertical-align: top;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* @@ 追加 */

dialog { display: block; }
img{border: 0; vertical-align: bottom;-ms-interpolation-mode: bicubic; }


/* For modern browsers */
.clearfix:before,.clearfix:after,.cf:before,.cf:after{
	content:"";
	display:table;
}
.clearfix:after,.cf:after{clear:both;}
.clearfix,.cf{zoom:1;}/* For IE 6/7 (trigger hasLayout) */

/*-----------------------------------------------------
@@ 基本
------------------------------------------------------*/

a{color:#ff9c95;text-decoration: none;}
a:hover{text-decoration: underline;}

html{
	color: #4a4a4a;
	background: white;
	/*overflow-y: scroll;	ここでスクロールバーを常に表示*/
}
body{
	text-align: center;
	font-size: 28px;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-weight: 500;
	background-color: white;
	word-wrap: break-word;
	line-height: 1;
	-webkit-text-size-adjust: 100%;
}

#wrap{
	width: 750px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
#wrap.loginwindow{
	width: 100%;
}
/*

#wrap-inner{
	width: 1024px;
	margin: 0 auto;
	text-align: left;
}
*/

/* @@ ページ下部のバナー画像関連  */
#sp_content{
	/*margin-top: 100px;*/
}

.sp-bottom-banner{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}
.sp-bottom-banner-inner{
	width: 750px;
	height: 220px;
	margin: 0 auto;
}
.sp-bottom-banner-inner img{
}
.use-bottom-banner{
	margin-bottom: 80px;
}

/*-----------------------------------------------------
@@ ヘッダ
------------------------------------------------------*/
header#page-header{
	width: 100%;
	background: #ff9c95;
	min-height: 100px;
	position: relative;
	/*top: 0;
	left: 0;*/
	z-index: 600;
}
#page-header-inner{
	width: 750px;
	text-align: left;
	margin: 0 auto;
	position: relative;
}

header#page-header h1{
	position: relative;
}
header#page-header h1 a{
	display: inline-block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 284px;
	height: 100px;
	background: url(../images/sp_logo.png) no-repeat 0 0;
	margin-left: 30px;
}

header#page-header h1 small{
	position: absolute;
	display: inline-block;
	color: white;
	font-weight: normal;
	font-size: 12px;
	top: 30px;
	left: 176px;
}

ul#header-list{
	list-style-type: none;
}
ul#header-list li{
}

ul#header-list li a.header-list-search{
	position: absolute;
	top: 0;
	right: 205px;
	z-index: 1100;
	display: block;
	width: 86px;
	height: 100px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../images/sp_header_search.png) no-repeat 0 0;
}
ul#header-list li a.header-list-login{
	position: absolute;
	top: 0;
	right: 119px;
	z-index: 1110;
	display: block;
	width: 86px;
	height: 100px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../images/sp_header_login.png) no-repeat 0 0;
}
ul#header-list li a.header-list-keeplist{
	display: block;
	width: 86px;
	height: 10px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../images/pc_header_keeplist.png) no-repeat 0 0;
}

/*-----------------------------------------------------
@@ フッタ
------------------------------------------------------*/
footer#page-footer{
	clear: both;
	width: 100%;
	background-color: #e6e6e6;
}
#page-footer-inner{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 20px 0;
}

ul.footer-menu{
	list-style-type: none;
	font-size: 0;
	margin: 0 0 20px;
}
ul.footer-menu li{
	display: inline-block;
	font-size: 24px;
	border-right: 1px solid #4a4a4a;
	padding-right: 11px;
	margin-right: 11px;
}
ul.footer-menu li:last-child{
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}
ul.footer-menu li a{
	color: #4a4a4a;
}

p.copyright{
	margin: 0;
	font-size: 24px;
	text-align: center;
}

/*-----------------------------------------------------
@@ メイン
------------------------------------------------------*/
#main{	/*#mainは#sidemenuと#contentsを囲む*/
	padding: 0 0 100px 0;
}
#main-inner{
	width: 100%;
	text-align: left;
	margin: 0 auto;
}


nav#page-navi{
}
#contents{
}
#contents-inner{
	width: 100%
}

p.err-box{
	color: red;
	border: 1px solid red;
	padding: 8px;
}

/*-----------------------------------------------------
@@ 段落
------------------------------------------------------*/
p{
	line-height: 1.5;
	margin-bottom: 1em;
}
p.indent1{
	text-indent: -1em;
	margin-left: 1em;
}
br.pc{display: none;}


/*-----------------------------------------------------
@@ IME制御（WinIEのみ）等
------------------------------------------------------*/
.imeon{ime-mode:active;}
.imeoff{ime-mode:disabled;}

.right{text-align: right;}
.center{text-align: center;}
.left{text-align: left;}

.nowrap{white-space: nowrap;}

a:hover img{
	opacity: 0.7;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}
.alignright { float: right; }
.alignleft { float: left; }

em{
	font-style: normal;
	font-weight: bold;
}

/*-----------------------------------------------------
@@ For media queries
レスポンシブ Web デザイン　Responsive Web Design
------------------------------------------------------*/
/* set image max width to 100% */
video,
img, object {
	max-width: 100%;
	height: auto;
	/* ie8.css参照 */
}

.video embed,
.video object,
.video iframe {
	width: 100%;
	height: auto;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}
.alignright { float: right; }
.alignleft { float: left; }


/*-----------------------------------------------------
@@ sidemenu サイドメニュー
------------------------------------------------------*/
.side-menu-title{
	margin: 0 0 20px 0;
}

ul.side-menu{
	margin: 0 0 30px 0;
}
ul.side-menu li{
	margin: 0 0 20px 0;
	min-height: 20px;
}
ul.side-menu a,
ul.side-menu span{
	color: #4a4a4a;
	min-height: 20px;
	vertical-align: baseline;
	line-height: 20px;
	display: inline-block;
}
ul.side-menu a.side-menu-item01,
ul.side-menu span.side-menu-item01{
	background: transparent url(../images/pc_side_menu_icon01.png) no-repeat 0 0;
	padding-left: 31px;
}
ul.side-menu a.side-menu-item02{
	background: transparent url(../images/pc_side_menu_icon02.png) no-repeat 0 0;
	padding-left: 31px;
}
ul.side-menu a.side-menu-item03{
	background: transparent url(../images/pc_side_menu_icon03.png) no-repeat 0 0;
	padding-left: 31px;
}
ul.side-menu a.side-menu-item04{
	background: transparent url(../images/pc_side_menu_icon04.png) no-repeat 0 0;
	padding-left: 31px;
}

ul.side-menu ul{
	margin: 10px 0 0 30px;
}
ul.side-menu ul li{
	margin: 0 0 10px 0;
}
ul.side-menu ul li:before{
	content: "ー";
	color: #dcdcdc;
}

.side-menu-login{
	margin: 0 0 30px;
	display: flex;
	justify-content: space-between;
}
.side-menu-login a{
	display: block;
}

ul.side-menu-banner{
	list-style-type: none;
	margin: 0 0 30px;
}
ul.side-menu-banner li{
	margin: 0 0 10px;
}

/*-----------------------------------------------------
@@ 共通
------------------------------------------------------*/
#pagetop{
	text-align: center;
}
#pagetop a{
	color: white;
	font-size: 24px;
	background-color: #b4b4b4;
	display: block;
	line-height: 60px;
}



.contents-space{
	width: 690px;
	margin: 0 auto;
}

.s40{font-size: 40px;}
.s32{font-size: 32px;}
.s28{font-size: 28px;}

/* @@ タイトル */
h2.title1{
	color: #ff9c95;
	background-color: #fff0f0;
	font-size: 40px;
	padding: 24px 30px;
	margin: 0 0 40px;
}




h3.form-title1{
	margin: 0 0 20px;
	padding-left: 12px;
	font-size: 32px;
	font-weight: normal;
	color: #5a5a5a;
	border-left: 8px solid #ff9c95;
}

.require{color: #ff9c95;}


h3.mailsend{
	margin: 60px 0 20px;
	color: #ff9c95;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}


.sp-body{
	margin: 0 30px;
}


/* @@ なんか */


/*-----------------------------------------------------
@@ フォーム
------------------------------------------------------*/

/* placeholder属性 */
:placeholder-shown {
    color: #c9c9c9; }

textarea,
select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="reset"],
input[type="tel"]{
	outline:0;
	-webkit-appearance: none;	/* iOS用　ボタンなどのデフォルトCSSをクリアにする。 */
}


textarea,
select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	padding: 8px 12px;
	color: #4a4a4a;
	box-sizing: border-box;
}
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
	background-color: #fff0f0;
}

textarea{overflow: auto;}
/* 内容が少ないのに薄くスクロールバーが出る事への対策。IEのみ  */


/* @@ inputタグ */
.input01{
	width: 100%;
	height: 80px;
	font-size: 28px;
}
.input02{
	width: 50%;
	height: 80px;
	font-size: 28px;
}

/* @@ textareaタグ */
.textarea01{
	width: 100%;
	height: 200px;
	font-size: 28px;
}
.textarea02{
	width: 100%;
	height: 300px;
	font-size: 28px;
}


/* @@ inputタグ submit */
.submitbtn1{	/* ピンク */
	display: block;
	color: white;
	width: 320px;
	border-radius: 6px;
	text-align: center;
	line-height: 70px;
	font-size: 32px;
	border: none;
	margin: 0 auto;
	background-color: #ff9c95;
	box-shadow: 0 10px 0 rgba(255,131,123,1);
}
.submitbtn2{	/* グレー */
	display: block;
	color: white;
	width: 320px;
	border-radius: 6px;
	text-align: center;
	line-height: 70px;
	font-size: 32px;
	border: none;
	margin: 0 auto;
	background-color: #b5b5b5;
	box-shadow: 0 10px 0 rgba(137,137,137,1);
}
.submitbtn_line{	/* LINE */
	box-sizing: border-box;
	display: block;
	color: white;
	width: 320px;
	border-radius: 6px;
	text-align: center;
	line-height: 70px;
	font-size: 32px;
	border: none;
	margin: 0 auto;
	background-color: #50c900;
	box-shadow: 0 10px 0 rgba(62,155,1,1);
}
.submitbtn_line span{
	display: inline-block;
	padding-left: 60px;
	background: url(../images/sc_line_icon.png) no-repeat 0 50%;
}

.submitbtn1:hover,
.submitbtn2:hover,
.submitbtn_line:hover{
	cursor: pointer;
	opacity: 0.7;
	text-decoration: none;
}





.form-bottom-button{
	margin: 30px auto 0;
	display: flex;
	justify-content: space-between;
}


.form-flow{margin: 40px 0;}



.mailform-01{
	margin: 0 0 60px;
}
.mailform-01 dt{
	margin: 0 0 20px;
	padding-left: 20px;
	font-size: 32px;
	font-weight: normal;
	color: #5a5a5a;
	border-left: 4px solid #ff9c95;
}

.mailform-01 dd{
	margin: 0 0 40px;
	font-size: 28px;
	line-height: 1.5;
}


.input-bottom1{
	display: inline-block;
	margin: 10px 0 0 0;
}

/* @@ inputのズレを修正 */
/*form{vertical-align:baseline;}
select, input, textarea, button { 
	vertical-align:middle; 
	position:relative; 
	margin: 0 0 2px 0;
}*/
input[type="checkbox"],
input[type="radio"] { 
	border:none; 
	margin-right:10px;
}


p.form-doui1{
	display: block;
	margin: 30px auto 10px;
	text-align: left;
}



input[type="checkbox"],
input[type="radio"] { 
  -moz-transform-origin: right bottom;
  -moz-transform: scale( 2 , 2 );
  -webkit-transform-origin: right bottom;
  -webkit-transform: scale( 2 , 2 );
	margin-left: 20px;
}

/* @@ エラー処理 */
textarea.inp_error,
select.inp_error,
input[type="text"].inp_error,
input[type="email"].inp_error,
input[type="password"].inp_error,
input[type="tel"].inp_error {
	border: 1px solid #ff837b;
	border-radius: 3px;
	padding: 8px 12px;
	color: #4a4a4a;
	box-sizing: border-box;
	background: #fff0f0;
}

span.error_m {
	font-weight: normal;
	color: #ff837b;
	display: block;
	margin: 0;
}


/*-----------------------------------------------------
@@ slider (bxSlider)
------------------------------------------------------*/
#slider {width:100%; height:100%; min-height:320px; overflow:hidden; position:relative;z-index: 500;}
.slide-wrap {width:2250px; height:320px; position:absolute; left:50%; margin-left:-1125px;}

/* コントローラー */
.bx-controls {
position:absolute;
width: 840px;	/* 左右のコントローラーを置くところの幅 */
z-index:100;
top:50%;
left:50%;
margin-left:-420px; /* 上記の半分 */
}

.bx-controls-direction {
max-width:100%; min-width:840px; /* コントローラーの幅 */
top:0;
position:absolute;
}

.bx-controls-direction a {
position:absolute;
width:100%;
height:320px;
display:block;
background-color:rgba(255,255,255,0.2);
z-index:9999;
}

.bx-controls-direction a:hover {background-color:rgba(255,255,255,0.6);}

a.bx-prev {left:-840px; text-align:right; font-size: 0;}
a.bx-next {right:-840px; text-align:left; font-size: 0;}

/******************/
/* bx-pager *******/

.bx-pager {
text-align:center;
clear:both;
display:block;
position:relative;
top:320px;
}


.bx-pager-item {
line-height:1; height:40px; width:40px;
background:#000; overflow:hidden; display:inline-block; margin:10px 2px 0 2px;
}

.bx-pager-item a {background-color:#ccc; display:block;}
.bx-pager-item a {padding-top:50px; display:block;}
.bx-pager-item a.active {opacity:0.5;}
.bx-pager-item a:hover {opacity:0.3;}


/* 装飾 */
/*****/


.result{
	padding:30px;
	margin: 30px;
	border: 1px solid #F1F1F1;
	font-size: 12px;
}
.result span{display: block; margin-top: 1em;}
.result p{
	margin-bottom:1em;
	font-weight:bold;
	font-size: 14px;
}
.result .slide{width: 300px !important; position: static !important; float:none !important;}

.bx-wrapper {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  background: #fff;
}

/*-----------------------------------------------------
@@ Colorbox ログイン
------------------------------------------------------*/
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/*#cboxOverlay{background:#ff0; opacity: 0.5; filter: alpha(opacity = 10);}*/
#cboxOverlay{background: rgba(0, 0, 0, 0.5);}
#colorbox{outline:0;}
    #cboxContent{margin-top:32px; overflow:visible; background:#fff;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{background:#fff; padding:1px;}
        #cboxLoadingGraphic{background:url(colorbox-images/loading.gif) no-repeat center center;}
        #cboxLoadingOverlay{background:#fff;}
        #cboxTitle{position:absolute; top:-22px; left:0; color:#fff;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(colorbox-images/controls.png) no-repeat 0 0;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{background-position:0px 0px; right:44px;}
        #cboxPrevious:hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px;}
        #cboxNext:hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0;}
        #cboxClose:hover{background-position:-50px -25px;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}


/*#cboxClose{display: none;} 閉じるボタン */

/*-----------------------------------------------------
@@ ログイン
------------------------------------------------------*/
.login-area{
/*	position: absolute;
	top: -100%;
	left: -100%;
	right: -100%;
	bottom: -100%;
	margin: auto;*/
	width: 470px;
	/*height: 481px;*/
	margin: 60px auto;
}

h2.login-title{
	font-size: 28px;
	text-align: center;
	margin: 0 0 30px;
	background: url(../images/login_line.png) repeat-x 0 50%;
	font-weight: normal;
}
h2.login-title span{
	display: inline-block;
	padding: 0 1em;
	background-color: white;
	margin: 0 auto;
}

.login-form{
	margin: 0 0 10px;
}
.login-form-username,
.login-form-userpassword{
	width: 100%;
	margin: 0 0 20px;
	font-size: 28px;
}

.submit-login{
	border: none;
	width:  470px;
	height: 80px;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../images/sp_button_login2.png) no-repeat 0 0;
}
.submit-login:hover{
	cursor: pointer;
}
p.login-reminder{
	font-size: 24px;
	margin: 0 0 40px;
	text-align: right;
}
p.login-reminder a{
	color: #4a4a4a;
}

h3.logout-h3{
	margin: 60px 0 100px;
	color: #ff9c95;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

/*-----------------------------------------------------
@@ index インデックス トップページ
------------------------------------------------------*/
h2.search-title{
	margin: 30px 0 20px;
	padding-left: 20px;
	font-size: 32px;
	font-weight: bold;
	color: #ff9c95;
	border-left: 8px solid #ff9c95;
}
h2.search-title small{
	padding-left: 1em;
	font-size: 28px;
	font-weight: normal;
	color: #5a5a5a;
}

.search-input{
	width: 690px;
	margin: 0 auto 80px;
}
.submit-search{
	border: none;
	width:  400px;
	height: 80px;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../images/sp_button_search.png) no-repeat 0 0;
	margin: 0 auto;
	display: block;
}
.submit-search:hover{
	cursor: pointer;
	opacity: 0.7;
}
.input-search{
	width: 100%;
	font-size: 28px;
	margin: 0 auto 20px;
	line-height: 64px;
}

h2.title-contents{
	width: 690px;
	margin: 0 auto 30px;
}

h2.title-pronikike{
	width: 690px;
	margin: 0 auto 20px;
}
h2.title-pronikike small{
	padding-left: 1em;
	font-size: 14px;
	font-weight: normal;
	color: #4a4a4a;
}

.index-line-banner{
	margin: 40px 30px;
}

/* @@ プロに聞け！　ナビ */
.nav-horizontal {
	margin-bottom: 30px;
	overflow: hidden;
	width: 100%;
	height: 80px;
	background-color: #f4f4f4;
	position: relative;
}
.nav-horizontal:before{
	content: "";
	background: url(../images/sp_nav_horizontal_left.png) no-repeat 0 0;
	width: 20px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.nav-horizontal:after{
	content: "";
	background: url(../images/sp_nav_horizontal_right.png) no-repeat 0 0;
	width: 20px;
	height: 80px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
}
ul.pronikike-navi-index{
	display:table;
	box-sizing: border-box;
	padding: 0 20px;
}
ul.pronikike-navi-index li{
	display: table-cell;
	white-space: nowrap;
	font-size: 28px;
	margin-right: 14px;
}

ul.pronikike-navi-index li a{
	display: inline-block;
	color: #5a5a5a;
	line-height: 80px;
	padding-left: 14px;
	padding-right: 14px;
	min-width: 150px;
	text-align: center;
}
ul.pronikike-navi-index li:nth-child(2n+1) a{
	background-color: #e4e4e4;
}
ul.pronikike-navi-index li:nth-child(2n) a{
	background-color: #f4f4f4;
}/**/
/*ul.pronikike-navi-index li a:hover,
ul.pronikike-navi-index li a:focus{*/
ul.pronikike-navi-index li a.current{
	color: white;
	background-color: #ff9c95;
}
ul.pronikike-navi-index li a{
	cursor:pointer;
}
.hide {display:none;}



/* @@ プロに聞け！　リスト */
ul.pronikike-list{
	list-style-type: none;
	margin: 0 30px 0;
}
ul.pronikike-list li{
	padding: 0 0 30px;
	margin: 0 0 30px;
	border-bottom: 1px solid #d2d2d2;
	min-height: 160px;
	position: relative;
}
ul.pronikike-list li:last-child{
	padding: 0 0 30px;
	margin: 0;
	border-bottom: none;
}
.pronikike-list-image{
	width: 240px;
	height: 160px;
	/*overflow: hidden;*/
	float: left;
	position: relative;
}
.pronikike-list-image img.new{
	border: 1px solid red;
	position: relative;
}
.pronikike-new{
	position: absolute;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 50px;
	height: 50px;
	top: 0;
	left: 0;
	background: transparent url(../images/sp_pronikike_new.png) no-repeat 0 0;
	z-index: 500;
}
p.pronikike-info{
	margin: 0 0 10px 260px;
	font-size: 24px;
}
span.pronikike-category{
	border: 1px solid #ff9c95;
	color: #ff9c95;
	padding: 4px 11px;
	margin-right: 20px;
}
span.pronikike-author{
	color: #b4b4b4;
}
p.pronikike-title{
	margin: 0 0 0 260px;
	font-size: 28px;
	font-weight: bold;
}
a p.pronikike-title{
	color: #4a4a4a;
}
p.pronikike-views{
	margin: 0 0 0 260px;
	text-align: right;
	font-size: 24px;
	/*position: absolute;
	right: 0;
	bottom: 20px;*/
}
a p.pronikike-views{
	color: #ff9c95;
}
a p.pronikike-views span{
	color: #b4b4b4;
}

.pronikike-list a:hover{
	text-decoration: none;
}
.pronikike-list a:hover p.pronikike-title{
	text-decoration: underline;
}

p.pronikike-bottom{
	text-align: center;
}
p.pronikike-bottom a{
	color: white;
	font-size: 28px;
	display: inline-block;
	width: 400px;
	height: 70px;
	line-height: 70px;
	background-color: #ff9c95;
	border-radius: 6px;
}
p.pronikike-bottom a:hover{
	opacity: 0.7;
	text-decoration: none;
}

.pronikike-list-number{
	margin-bottom: 60px;
}


/* @@ ページのボトムのリスト */
ul.index-bottom-list{
	list-style-type: none;
	width: 100%;
	background-color: #f8f8f8;
	margin-top: 60px;
}
ul.index-bottom-list li{
	width: 690px;
	margin: 0 auto;
	padding: 30px 0;
	border-bottom: 1px solid #d2d2d2;
}
ul.index-bottom-list li:last-child{
	border-right: none;
}
ul.index-bottom-list li a{
	display: block;
}

/*-----------------------------------------------------
@@ header 検索
------------------------------------------------------*/
.header-search{
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 1000;
	height: 320px;
	background-color: #f8f8f8;
	width: 100%;
}
.header-search-in{
	text-align: left;
	margin: 30px;
	position: relative;
}

.input-search-2{
	width: 100%;
	font-size: 28px;
	margin: 0 auto 20px;
	line-height: 64px;
}
.submit-search-2{
	border: none;
	width:  400px;
	height: 80px;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../images/sp_button_search_y.png) no-repeat 0 0;
	margin: 0 auto;
	display: block;
}
.submit-search-2:hover{
	cursor: pointer;
	opacity: 0.7;
}

#layer {
    position: fixed;
    z-index: 500;
    background: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=0);
    opacity: 0.0;
    display: none;
}

a.sp-bottom-banner-close{
	position: absolute;
	display: block;
	top: 320px;
	right: 0;
	width: 80px;
	height: 80px;
	background: #ff9c95 url(../images/sp_header_menu_close_80.png) no-repeat 0 0;
}

/*-----------------------------------------------------
@@ メニュー Naver
------------------------------------------------------*/
.naver {
  margin: 0;
	font-size: 0;
}
.naver,
.naver *,
.naver *:before,
.naver *:after {
  box-sizing: border-box;
}
.naver-handle {
  width: 100px;
	height: 100px;
  background: #ff9c95 url(../images/sp_header_menu_open.png) no-repeat 0 0;
  border: none;
  cursor: pointer;
  display: none;
  font-size: 1px;
  margin: 0;
  padding: 0;
  position: absolute;
	top: 0px;
	right: 0px;
}
/*.naver-handle:after {
  height: 3px;
  width: 15px;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  background: #cccccc;
  box-shadow: 0 5px 0 #cccccc, 0 -5px 0 #cccccc;
  content: '';
  display: block;
  margin: auto 0;
}*/
.naver.open .naver-handle {
  background: #ff837b url(../images/sp_header_menu_close.png) no-repeat 0 0;
}
.naver-wrapper {
  border: none;
  height: auto;
  margin: 0;
  padding: 0;
}
.naver-container{z-index:5000;}
.naver-container:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.naver.enabled .naver-handle {
  display: block;
}
.naver.enabled .naver-wrapper {
  height: 0px;
  overflow: hidden;
}
.naver.enabled.open .naver-wrapper {
	box-shadow:0px 10px 13px -3px #999999;
	margin-bottom: 20px;
}


.naver a{
	display: none;
	/*float: left;
*/
}

.naver.enabled a {
	display: block;
	float: none;
	margin: 0 0 1px 0;
	width: 100%;
	line-height: 90px;
}


.naver.enabled a.mainmenu-w{
	background-color: white;
	color: #4a4a4a;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	padding-left: 256px;
}
.naver.enabled a.mainmenu01{
	background: white url(../images/sp_menu_icon01.png) no-repeat 196px 24px;
}
.naver.enabled a.mainmenu02{
	background: white url(../images/sp_menu_icon02.png) no-repeat 196px 24px;
}
.naver.enabled a.mainmenu03{
	background: white url(../images/sp_menu_icon03.png) no-repeat 196px 24px;
}
.naver.enabled a.mainmenu04{
	background: white url(../images/sp_menu_icon04.png) no-repeat 196px 24px;
}
.naver.enabled a.mainmenu11{
	background: white url(../images/sp_menu_icon11.png) no-repeat 196px 24px;
}
.naver.enabled a.mainmenu12{
	background: white url(../images/sp_menu_icon12.png) no-repeat 196px 24px;
}
.naver.enabled a.mainmenu13{
	background: white url(../images/sp_menu_icon13.png) no-repeat 196px 24px;
}
.naver.enabled a.mainmenu14{
	background: white url(../images/sp_menu_icon14.png) no-repeat 196px 24px;
}
.naver.enabled a.mainmenu15{
	background: white url(../images/sp_menu_icon15.png) no-repeat 196px 24px;
}
.naver.enabled a.mainmenu16{
	background: white url(../images/sp_menu_icon16.png) no-repeat 196px 24px;
}
.naver.enabled a.mainmenu17{
	background: white url(../images/sp_menu_icon17.png) no-repeat 196px 24px;
}

.naver.enabled a.mainmenu20{
	background-color: #f4f4f4;
	color: #5a5a5a;
	font-size: 28px;
	font-weight: normal;
	text-align: center;
}


.naver.enabled .naver-container {
	background: #d2d2d2;
	margin: 0;
	padding: 0;
}


.naver.enabled .naver-container{
	display: none;
}
.naver.enabled.open .naver-container{
	display: block;
}


.naver p.mainmenu-title{
	display: none;
}
.naver.enabled p.mainmenu-title{
	display: block;
	text-align: center;
	color: white;
	background-color: #ff837b;
	font-size: 32px;
	margin: 0;
}


/*-----------------------------------------------------
@@ 検索結果
------------------------------------------------------*/
.sp-header-1{
	background-color: #f4f4f4;
	padding: 30px 0 30px 0;
	margin: 0 0 40px;
}

.result-searching-option{
	font-size: 24px;
	margin: 0 auto 14px;
	width: 690px;
}
.result-count{
	font-size: 28px;
	margin: 0 auto 0;
	width: 690px;
}
.result-count2{
	font-size: 28px;
	margin: -20px auto 30px;
	width: 690px;
}
.result-count span,
.result-count2 span{
	font-size: 40px;
	color: #ff9c95;
}

.result-list{
	list-style-type: none;
	width: 690px;
	margin: 0 auto 30px;
}
.result-list>li{
	padding: 0 0 40px 0;
	margin: 0 0 40px;
	border-bottom: 1px solid #ff9c95;
}
.result-list-2>li{
	padding: 0 0 40px 0;
	margin: 0 0 40px;
	border-bottom: 1px solid #ff9c95;
}
.result-list>li:last-child{
	padding: 0;
	margin: 0 0 40px;
	border-bottom: none;
}

.result-list .result-list-title{
	font-weight: bold;
	font-size: 32px;
	margin: 0 0 30px;
}
.result-list .result-list-title a{
	color: #4a4a4a;
}
.result-list .result-list-company-name{
	font-size: 28px;
	font-weight: bold;
	color: #ff9c95;
	margin: 0 0 20px;
}
.result-list .result-list-setumei{
	font-size: 26px;
}
.result-list-image{
	float: left;
	width: 330px;
	height: 211px;
	overflow: hidden;
}
.result-list-right{
	float: right;
	width: 330px;
	height: 211px;
	position: relative;
	
}
ul.result-list-button{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	width: 690px;
	margin: 0 auto 0px;
	padding-bottom: 10px;	/* ボタンのbox-shadowの分 */
}
ul.result-list-button a.result-list-keep{
	display: block;
	color: white;
	width: 330px;
	border-radius: 6px;
	text-align: center;
	line-height: 70px;
	font-size: 32px;
	background-color: #d2d2d2;
	box-shadow: 0 10px 0 rgba(180,180,180,1);
}
ul.result-list-button a.result-list-detail{
	display: block;
	color: white;
	width: 330px;
	border-radius: 6px;
	text-align: center;
	line-height: 70px;
	font-size: 32px;
	background-color: #ff9c95;
	box-shadow: 0 10px 0 rgba(255,131,123,1);
}

ul.result-list-button a.result-list-keep:hover,
ul.result-list-button a.result-list-detail:hover{
	opacity: 0.7;
	text-decoration: none;
}


.pagination{
	text-align: center;
	font-size: 38px;
}
.pagination .page-numbers{
	padding-left: 6px;
	padding-right: 6px;
}
.pagination .current{
	color: #ff9c95;
}
.pagination a.page-numbers{
	color: #b4b4b4;
}
.pagination .dots{
	color: #b4b4b4;
}
.pagination a.prev,
.pagination a.next{
	color: #ff9c95;
}


/*-----------------------------------------------------
@@ LINE
------------------------------------------------------*/
h2.line_hajime{
	margin: 30px 0 30px;
}
p.line1{
	margin: 0 0 30px;
}
h3.line2{
	margin: 0 0 30px;
}
h4.line3-1{
	margin: 0 0 23px;
	height: 32px;
	line-height: 32px;
	font-size: 32px;
	padding-left: 110px;
	background: url(../images/sp_line_houhou1.png) no-repeat 0 0;
}
h4.line3-2{
	margin: 0 0 23px;
	height: 32px;
	line-height: 32px;
	font-size: 32px;
	padding-left: 110px;
	background: url(../images/sp_line_houhou2.png) no-repeat 0 0;
}
p.line-4{
	margin: 0 0 20px;
}
p.line-qrcode{
	text-align: center;
	padding: 0 0 40px;
	margin: 0 0 40px;
	border-bottom: 1px solid #d2d2d2;
}
p.line-5{
	padding: 0 0 80px;
}
p.line-5 strong{
	font-style: normal;
}

.entry-line{
	margin: 60px 0 0 0;
}



/*-----------------------------------------------------
@@ お問い合わせ
------------------------------------------------------*/
p.p-contact{
	margin: 0 0 40px;
}

/*-----------------------------------------------------
@@ プロに聞け！
------------------------------------------------------*/

h2.pronikike-h2{
	margin: 30px 0 30px;
	text-align: center;
}
h2.pronikike-h2+p{
	margin: 0 30px 12px;
}
h2.pronikike-h2+p+p{
	margin: 0 0 0px;
}

ul.pronikike-navi-expert{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 0 30px;
	box-sizing: border-box;
}
ul.pronikike-navi-expert li{
	flex:1;
	text-align: center;
	border-left: 1px solid #b4b4b4;
}
ul.pronikike-navi-expert li:first-child{
	border-left: none;
}
ul.pronikike-navi-expert li a{
	display: block;
	color: #b4b4b4;
	padding: 24px 19px 23px;
	border-bottom: 1px solid #b4b4b4;
}
ul.pronikike-navi-expert li a.current{
	color: #ff9c95;
	padding: 24px 19px 18px;
	border-bottom: 6px solid #ff9c95;
}


h3.expert-cat1{
	color: white;
	font-weight: normal;
	padding: 0 30px;
	background-color: #b4b4b4;
	line-height: 50px;
}
ul.expert-list1{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	box-sizing: border-box;
}
ul.expert-list1 li{
	box-sizing: border-box;
	flex-basis: 50%;
	border-bottom: 1px solid #b4b4b4;
}
ul.expert-list1 li:nth-child(odd){
	border-right: 1px solid #b4b4b4;
}
ul.expert-list1 li a{
	display: block;
	padding: 26px 0 26px 40px;
	color: #5a5a5a;
}


ul.expert-list2{
	list-style-type: none;
	font-size: 0;
	margin: 20px 30px 0;
}
ul.expert-list2 li{
	display: inline-block;
	font-size: 28px;
}
ul.expert-list2 li a{
	color: #5a5a5a;
	display: block;
}
ul.expert-list2 li a{
	padding: 7px 18px;
	background-color: #f4f4f4;
	margin: 0 19px 20px 0;
}

p.expert-list-bottom{
	color: #5a5a5a;
	text-align: right;
	margin: 20px 30px 30px;
}
p.expert-list-bottom a{
	color: #5a5a5a;
}

.expert-banner{
	margin: 60px 0 0 0;
}
.expert-banner a{
	display: block;
	margin: 0 auto 30px;
	width: 690px;
}


/*-----------------------------------------------------
@@ プロに聞け！ 詳細
------------------------------------------------------*/
.article-date{
	font-size: 24px;
	color: #b4b4b4;
	margin: 30px 30px;
}
h2.article-title{
	font-size: 40px;
	line-height: 1.5;
	margin: 0 30px 12px;
}

.article-info{
	position: relative;
	padding-bottom: 30px;
	border-bottom: 1px solid #b4b4b4;
	margin: 0 30px 40px;
	/*height: 50px;*/
}
.article-info p{
	font-size: 22px;
	line-height: 2.2;
}
.pronikike-category2{
	border: 1px solid #ff9c95;
	color: #ff9c95;
	padding: 2px 8px;
	margin: 0 10px 0 0;
}
.pronikike-author2{
	margin: 0 10px 0 0;
	color: #b4b4b4;
}
.pronikike-views2{
	color: #b4b4b4;
}

.sns-button{
	/*position: absolute;
	top: 4px;
	right: 0;*/
	margin: 20px 0 0;
	height: 80px;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;

}

/* @@ 本文 */
.margin-body,
.article-body{
	margin: 0 30px;
}
.article-body h3{
	font-size: 36px;
	color: #ff9c95;
	margin: 0 0 30px;
	border-left: 8px solid #ff9c95;
	padding-left: 24px;
	line-height: 1.5;
}
.article-body p{
	line-height: 1.5;
	margin: 0 0 60px;
	font-size: 32px;
}

/* @@ プロ情報 */
.expert-pro-infomation{
	background-color: #f0f0f0;
	padding: 30px;
	margin: 60px 30px 30px 30px;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
}
img.pro-photo1{
	border-radius: 100px;
}
.expert-pro-infomation-left{
	width: 200px;
	padding-bottom: 40px;
}
.expert-pro-infomation-right{
	width: 410px;
	padding-bottom: 40px;
}
.expert-pro-infomation-right-p1{
	margin: 0 0 20px;
	line-height: 1;
	font-size: 24px;
}
.expert-pro-infomation-right-p2{
	margin: 0 0 20px;
	font-size: 28px;
	line-height: 1;
}
.expert-pro-infomation-right-p3{
	margin: 0 0 0;
	line-height: 1.5;
	font-size: 24px;
}
.expert-pro-infomation-right-p4{
	clear: both;
	display: block;
	line-height: 1;
	width: 100%;
	margin: 0;
}
.expert-pro-infomation-right-p4 a{
	display: block;
	color: white;
	/*padding: 0 34px;*/
	border-radius: 6px;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	border: none;
	background-color: #ff9c95;
	width: 290px;
	margin: 0 auto;
	text-decoration: none;
}
.expert-pro-infomation-right-p4 a:hover{
	opacity: 0.7;
}

/* @@ キーワード */
.expert-keyword{
	margin: 30px 30px 60px;
}
.expert-keyword span,
.expert-keyword p{
	width: 150px;
	font-size: 24px;
	float: left;
	margin-top: 2px;
}

ul.expert-keyword-list{
	margin: 0 0 0 150px;
	list-style-type: none;
	font-size: 0;
}
ul.expert-keyword-list li{
	display: inline-block;
	font-size: 24px;
}
ul.expert-keyword-list li a{
	color: #5a5a5a;
	display: block;
}
ul.expert-keyword-list li a{
	padding: 7px 18px;
	background-color: #f4f4f4;
	margin: 0 9px 10px 0;
}

/* @@ ページネーション */
.expert-pagenation{
	margin: 60px 30px 60px;
	height: 28px;
	position: relative;
}
.expert-pagenation a.expert-pagenation-prev{
	position: absolute;
	top: 0;
	left: 0;
}
.expert-pagenation a.expert-pagenation-center{
	position: absolute;
	top: 0;
	left: 175px;
	width: 340px;
	text-align: center;
}
.expert-pagenation a.expert-pagenation-next{
	position: absolute;
	top: 0;
	right: 0;
}

/* @@ 人気記事 */
h3.expert-ninkikiji{
	color: white;
	line-height: 50px;
	font-size: 28px;
	font-weight: normal;
	padding-left: 30px;
	background-color: #ff9c95;
}
ul.expert-ninkikiji-list{
	list-style-type: none;
	margin-bottom: 20px;
}
ul.expert-ninkikiji-list li{
	border-bottom: 1px solid #d2d2d2;
}
ul.expert-ninkikiji-list a{
	display: block;
	color: #5a5a5a;
	padding: 30px 30px;
}
ul.expert-ninkikiji-list+p{
	text-align: right;
	margin-right: 30px;
}
ul.expert-ninkikiji-list+p a{
	color: #5a5a5a;
}

/* @@ ソート */
.expert-result-category{
	margin: 20px 0 30px 30px;
}
.expert-result-category+p{
	margin: 0;
}

/* @@ タグ一覧 */
h2.expert-tag-h2{
	font-size: 40px;
	font-weight: normal;
	margin: 30px 0 30px 30px;
}
h3.expert-tag-h3{
	font-size: 32px;
	font-weight: normal;
	margin: 30px 30px 20px;
	color: #ff9c95;
}

ul.expert-list3{
	list-style-type: none;
	font-size: 0;
	margin: 20px 30px 20px;
}
ul.expert-list3 li{
	display: inline-block;
	font-size: 28px;
}
ul.expert-list3 li a{
	color: #5a5a5a;
	display: block;
}
ul.expert-list3 li a{
	padding: 7px 18px;
	background-color: #f4f4f4;
	margin: 0 19px 20px 0;
}

/* @@ プロ一覧 */
h2.pro-member-title{
	color: #ff9c95;
	font-size: 40px;
	font-weight: bold;
	margin: 30px 30px 20px;
}
h2.pro-member-title+p{
	margin: 0 30px 40px;
}
h3.pro-menber-category{
	color: #ff9c95;
	font-size: 32px;
	font-weight: normal;
	margin: 40px 30px 20px;
	padding-left: 50px;
	line-height: 40px;
	height: 40px;
}

.pro-icon01{background: transparent url(../images/sp_pro_icon01.png) no-repeat 0 0;}
.pro-icon02{background: transparent url(../images/sp_pro_icon02.png) no-repeat 0 0;}
.pro-icon03{background: transparent url(../images/sp_pro_icon03.png) no-repeat 0 0;}
.pro-icon04{background: transparent url(../images/sp_pro_icon04.png) no-repeat 0 0;}
.pro-icon05{background: transparent url(../images/sp_pro_icon05.png) no-repeat 0 0;}
.pro-icon06{background: transparent url(../images/sp_pro_icon06.png) no-repeat 0 0;}
.pro-icon07{background: transparent url(../images/sp_pro_icon07.png) no-repeat 0 0;}
.pro-icon08{background: transparent url(../images/sp_pro_icon08.png) no-repeat 0 0;}

.pro-member-infomation{
	margin: 20px 30px 40px;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
	padding-bottom: 40px;
	border-bottom: 1px solid #d2d2d2;
}
.pro-member-infomation:last-of-type{
	margin: 10px 30px 40px;
	padding-bottom: 0;
	border-bottom: none;
}

.pro-member-infomation-left{
	width: 260px;
}
.pro-member-infomation-right{
	width: 410px;
}
.pro-member-infomation-right-p1{
	margin: 10px 0 10px;
	line-height: 1;
	font-size: 24px;
}
.pro-member-infomation-right-p2{
	margin: 0 0 20px;
	font-size: 28px;
	line-height: 1;
}
.pro-member-infomation-right-p3{
	margin: 0 0 20px;
	line-height: 1.5;
	font-size: 24px;
}
.pro-member-infomation-right-p4{
	margin: 0 0 10px;
	line-height: 1;
}
.pro-member-infomation-right-p4 a{
	display: inline-block;
	color: white;
	width: 290px;
	border-radius: 3px;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	border: none;
	background-color: #ff9c95;
	text-decoration: none;
}
.pro-member-infomation-right-p4 a:hover{
	opacity: 0.7;
}

img.pro-photo2{
	border-radius: 140px;
}

.pro-member-infomation-right-d1{
	font-size: 28px;
	padding-left: 40px;
	color: #ff9c95;
	margin: 10px 0;
	line-height: 30px;
	display: block;
	height: 30px;
}
.pro-member-infomation-right-d2{
	font-size: 28px;
	margin: 20px 0;
	line-height: 1.2;
}
.pro-member-infomation-right-d3{
	font-size: 40px;
	font-weight: bold;
	margin: 20px 0 30px;
	line-height: 1;
}
.pro-member-infomation-right-d4{
	position: relative;
}
.pro-member-infomation-right-d5 span{
	display: inline-block;
	color: white;
	background-color: #ff9c95;
	padding: 0 10px;
	margin-right: 20px;
}
.pro-member-infomation-right-d5 .pro-website{
	display: inline-block;
	color: #5a5a5a;
}

.pro-icon30{
		-webkit-background-size: 30px 30px; /* 表示させるサイズ WebKit */
		background-size: 30px 30px; /* 表示させるサイズ WebKit以外 */
}

.sns-btn-twitter{
	display: inline-block;
	width: 120px;
	height: 40px;
	background: url(../images/sp_sns1_twitter.png) no-repeat 0 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.sns-btn-facebook{
	display: inline-block;
	width: 120px;
	height: 40px;
	background: url(../images/sp_sns1_facebook.png) no-repeat 0 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.sns-btn-google{
	display: inline-block;
	width: 120px;
	height: 40px;
	background: url(../images/sp_sns1_google.png) no-repeat 0 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.pro-menber-article{
	margin: 20px 30px 60px;
	/*padding-top: 30px;*/
	/*border-top: 1px solid #d2d2d2;*/
}
.pro-menber-article h3{
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #ff9c95;
}
.pro-menber-article p{
	line-height: 1.5;
	margin-bottom: 45px;
}


/*-----------------------------------------------------
@@ 初めてのママの就活
------------------------------------------------------*/
.guide-box1{
	margin: 30px 0 0;
	text-align: center;
}
.guide-box1 a{
	display: block;
	margin: 0 0 30px;
}

h3.guide-h3{
	color: white;
	line-height: 50px;
	font-size: 28px;
	font-weight: normal;
	padding-left: 20px;
	background-color: #ff9c95;
	margin: 0 0 2px;
}

.guid-list-box-content{
	margin: 30px 30px 30px;
	padding: 0 0 10px;
	border-bottom: 1px solid #d2d2d2;
}
.guid-list-box-content:last-child{
	margin: 30px 30px 20px;
	padding: 0;
	border-bottom: none;
}
.guid-list{
	display: table-cell;
	height: 80px;
	padding-left: 100px;
	text-align: left;
	vertical-align: middle;
	font-size: 32px;
	color: #5a5a5a;
	line-height: 1.3;
	padding-bottom: 15px;
}
/*a.guid-list{
	text-decoration: underline;
}*/
a.guid-list:hover{
	color: #ff9c95;
}
.guid-list-new{
	background: url(../images/sp_guid_list_new.png) no-repeat 0 0;
}
.guid-list-q{
	background: url(../images/sp_guid_list_q.png) no-repeat 0 0;
}
.guid-list-a{
	background: url(../images/sp_guid_list_a.png) no-repeat 0 0;
}

.guid-list-box-content span.cat{
	border: 1px solid #ff9c95;
	display: inline-block;
	color: #ff9c95;
	font-size: 24px;
	padding: 4px 15px;
	margin-right: 10px;
}
ul.expert-list4{
	display: inline;
	list-style-type: none;
	font-size: 0;
}
ul.expert-list4 li{
	display: inline-block;
	font-size: 24px;
}
ul.expert-list4 li a{
	color: #5a5a5a;
	display: block;
}
ul.expert-list4 li a{
	padding: 7px 18px;
	background-color: #f4f4f4;
	margin: 0 19px 20px 0;
}

p.guide-bottom{
	text-align: center;
	margin: 20px 0 60px;
}
p.guide-bottom a{
	color: white;
	font-size: 28px;
	display: inline-block;
	width: 400px;
	height: 70px;
	line-height: 70px;
	background-color: #ff9c95;
	border-radius: 6px;
}
p.guide-bottom a:hover{
	opacity: 0.7;
	text-decoration: none;
}

.guide-banner{
	text-align: center;
	margin: 30px 0 0 0;
}


/*-----------------------------------------------------
@@ 初めてのママの就活 職務経歴書の書き方
------------------------------------------------------*/
.job-resume1{
	margin: 30px 0 30px;
}
.job-resume2{
	margin: 0 0 30px;
	font-size: 32px;
}

dl.job-resume-dl1{
	margin: 0 0 60px 0;
}
dl.job-resume-dl1 dt{
	margin: 30px 0 0 0;
	font-size: 32px;
	font-weight: bold;
	padding-left: 70px;
	line-height: 50px;
}
dl.job-resume-dl1 dt.job-resume-dl1-1{
	background: url(../images/sp_circle1.png) no-repeat 0 0;
}
dl.job-resume-dl1 dt.job-resume-dl1-2{
	background: url(../images/sp_circle2.png) no-repeat 0 0;
}
dl.job-resume-dl1 dt.job-resume-dl1-3{
	background: url(../images/sp_circle3.png) no-repeat 0 0;
}
dl.job-resume-dl1 dt.job-resume-dl1-4{
	background: url(../images/sp_circle4.png) no-repeat 0 0;
}
dl.job-resume-dl1 dd{
	font-size: 32px;
	padding-left: 70px;
	line-height: 1.2;
}

h3.job-resume-h3{
	color: white;
	line-height: 50px;
	font-size: 28px;
	font-weight: bold;
	padding-left: 20px;
	background-color: #ff9c95;
	margin: 60px 0 30px;
}

.job-resume-box1{
	margin: 20px 0 40px;
}
.job-resume-box1 img:first-child{
	margin-bottom: 40px;
}

h4.job-resume-h4{
	font-size: 32px;
	font-weight: bold;
	line-height: 28px;
	padding: 30px 0 0 38px;
	background: url(../images/sp_circle_pink.png) no-repeat 0 30px;
	margin: 30px 0 30px;
	border-top: 1px solid #d2d2d2;
}
h4.job-resume-h4:first-of-type{
	padding: 0 0 0 38px;
	background: url(../images/sp_circle_pink.png) no-repeat 0 0;
	margin: 30px 0 20px;
	border-top: none;
}
h4.job-resume-h4+p{
	font-size: 32px;
}

dl.job-resume-dl2{
	margin: 30px 0;
	padding: 30px;
	background-color: #f4f4f4;
}
dl.job-resume-dl2 dt{
	margin: 0 0 10px;
	color: #ff9c95;
	font-size: 32px;
	font-weight: bold;
}
dl.job-resume-dl2 dd{
	margin: 0 0 30px;
	line-height: 1.5;
	font-size: 32px;
}
dl.job-resume-dl2 dd:last-child{
	margin: 0 0 0;
}
dl.job-resume-dl2+p{
	font-size: 32px;
}

.job-resume-btn1{
	margin: 30px auto 40px;
}
.job-resume-btn1 a{
	display: block;
	color: white;
	width: 440px;
	border-radius: 6px;
	text-align: center;
	line-height: 70px;
	font-size: 28px;
	font-weight: bold;
	border: none;
	margin: 0 auto;
	background-color: #ffd228;
	box-shadow: 0 10px 0 rgba(218,180,35,1);
}
.job-resume-btn1 a:hover{
	opacity: 0.7;
	text-decoration: none;
}

dl.job-resume-dl3{
	margin: 30px 0 60px 0;
}
dl.job-resume-dl3 dt{
	margin: 0 0 15px 0;
	font-size: 32px;
	font-weight: bold;
	padding-left: 50px;
	line-height: 40px;
	background: url(../images/sp_check.png) no-repeat 0 0;
}
dl.job-resume-dl3 dd{
	font-size: 32px;
	margin: 0 0 40px 0;
	line-height: 1.5;
}

ul.job-resume-1{
	margin: 30px 0;
	list-style-type: none;
}
ul.job-resume-1 li{
	margin: 0 0 30px 1em;
	line-height: 1.5;
	text-indent: -1em;
}
ul.job-resume-1 li:before{
	content: "・";
}
ul.job-resume-1 li div{
	background-color: #f4f4f4;
	margin: 30px 0 0 -1em;
	padding: 30px;
	text-indent: 0;
}
ul.job-resume-1 li div span{
	color: #ff9c95;
}


ol.job-resume-2{
	margin: 30px 0;
	list-style-type: none;
}
ol.job-resume-2 li{
	margin: 0 0 30px 1em;
	line-height: 1.5;
	text-indent: -1em;
	font-size: 32px;
}
ol.job-resume-2 li div{
	background-color: #f4f4f4;
	margin: 30px 0 0 -1em;
	padding: 30px;
	text-indent: 0;
}
ol.job-resume-2 li div span{
	color: #ff9c95;
}


h4.job-type-h4{
	font-size: 32px;
	font-weight: bold;
	color: #ff9c95;
	margin: 60px 0 40px;
	padding-bottom: 10px;
	border-bottom: 2px solid #ff9c95;
}

table.job-type-table1{
	margin: 40px 0;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #b4b4b4;
}
table.job-type-table1 th{
	display: block;
	color: white;
	background-color: #b4b4b4;
	font-size: 32px;
	line-height: 1.5;
	padding: 10px 30px;
	font-weight: normal;
}
table.job-type-table1 td{
	display: block;
	background-color: white;
	font-size: 32px;
	line-height: 1.5;
	padding: 10px 30px;
}

ul.job-type-list1{
	margin: 60px 0 0 0;
	list-style-type: none;
}
ul.job-type-list1 li{
	display: block;
	margin: 0 0 30px 0;
}
ul.job-type-list1 li a{
	display: block;
	height: 80px;
	line-height: 80px;
	padding-left: 30px;
	color: white;
	background: #ffd228 url(../images/sp_sankaku1.png) no-repeat 626px 50%;
	font-size: 28px;
	border-radius: 6px;
	font-weight: bold;
}

.guide-memo-select1{
}

.guide-memo-select1 select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/*height: 30px;
	padding: 0 20px 0 10px;*/
	/*background-color: #ff9c95;*/
	color: white;
	border: none;
	border-radius: 3px;
	background: #ffd228 url(../images/sp_select_arrow3-down.png) no-repeat 100% 50%;
	font-size: 28px;
	font-weight: bold;
	box-sizing: border-box;
	width: 690px;
	height: 80px;
	margin: 0;
	padding: 0 0 0 30px;
}
/*.guide-memo-select1 select:focus{
	background: #ffd228 url(../images/pc_select_arrow3-up.png) no-repeat 100% 50%;
}*/
.guide-memo-select1 select::-ms-expand {
	display: none;
}
.guide-memo-select1 select option{
	color: #5a5a5a;
	background-color: #fffaea;
	/*line-height: 30px;*/
}
.guide-memo-select1 select option:focus{
	color: #5a5a5a;
	background-color: #feedb2;
}

/*-----------------------------------------------------
@@ 就活メモ
------------------------------------------------------*/
h2.guide-memo-title{
	color: #ff9c95;
	font-size: 40px;
	font-weight: bold;
	margin: 30px 30px 20px;
}
h2.guide-memo-title+p{
	margin: 0 30px 25px;
}

.guide-title-and-select{
	position: relative;
	margin: 0 30px;
}
.guide-select1{
	margin: 0 0 30px;
}
.guide-select1 select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 28px;
	width: 100%;
	padding: 20px 20px;
	background: url(../images/sp_select_arrow.png) no-repeat 650px 50%;
	border-radius: 6px;
	border: 1px solid #b4b4b4;
}

.pagination-guide{
	margin: 30px 0 60px;
}

.guid-list-p1{
	margin: 10px 0 30px 100px;
	font-size: 32px;
}
.guid-list-p2{
	font-size: 24px;
	line-height: 60px;
	text-align: right;
	height: 60px;
}
.guid-list-p2 span{
	padding-left: 80px;
	line-height: 60px;
	height: 60px;
	display: inline-block;
}

.guid-list-icon01{
	background: url(../images/sp_guide_list_icon01.png) no-repeat 0 0;
}
.guid-list-icon02{
	background: url(../images/sp_guide_list_icon02.png) no-repeat 0 0;
}
.guid-list-icon03{
	background: url(../images/sp_guide_list_icon03.png) no-repeat 0 0;
}
.guid-list-icon04{
	background: url(../images/sp_guide_list_icon04.png) no-repeat 0 0;
}
.guid-list-icon05{
	background: url(../images/sp_guide_list_icon05.png) no-repeat 0 0;
}
.guid-list-icon06{
	background: url(../images/sp_guide_list_icon06.png) no-repeat 0 0;
}
.guid-list-icon07{
	background: url(../images/sp_guide_list_icon07.png) no-repeat 0 0;
}
.guid-list-icon08{
	background: url(../images/sp_guide_list_icon08.png) no-repeat 0 0;
}
.guid-list-icon09{
	background: url(../images/sp_guide_list_icon09.png) no-repeat 0 0;
}
.guid-list-icon10{
	background: url(../images/sp_guide_list_icon10.png) no-repeat 0 0;
}

.guid-list-box-keyword{
	margin-left: 0;
}

h3.guide-h3-2{
	color: white;
	line-height: 50px;
	font-size: 28px;
	font-weight: normal;
	padding-left: 20px;
	background-color: #b4b4b4;
	margin: 0 0 2px;
}


/*-----------------------------------------------------
@@ トレママ
------------------------------------------------------*/
h3.toremama-h3{
	font-size: 34px;
	font-weight: bold;
	line-height: 40px;
	padding-left: 50px;
	margin: 40px 0 20px;
}
.toremama-h3-icon01{background: url(../images/sp_toremama_icon01.png) no-repeat 0 0;}
.toremama-h3-icon02{background: url(../images/sp_toremama_icon02.png) no-repeat 0 0;}

.toremama-blog-box{
	margin: 10px 0 30px;
}
.toremama-blog-box a{
	width: 100%;
	display: block;
	margin-bottom: 60px;
	color: #5a5a5a;
}
.toremama-blog-box a p{
	font-size: 28px;
	line-height: 1.2;
	margin: 20px 0 0 0;
	height: 66px;
	display: block;
}

.toremama-newarticle-body{
	background-color: #f4f4f4;
	padding: 1px 30px 30px;
}

.toremama-newarticle-box{
	margin: 10px 0 30px;
}
.toremama-newarticle{
	width: 690px;
	margin-bottom: 60px;
	border: 1px solid #d2d2d2;
	padding: 25px 29px 29px 29px;
	box-sizing: border-box;
	position: relative;
	background-color: white;
}
.toremama-newarticle-newflag{
	position: absolute;
	top: -1px;
	left: 29px;
	width: 80px;
	height: 70px;
	background: url(../images/sp_toremama_new_flag.png) no-repeat 0 0;
}
h4.toremama-newarticle-blog{
	font-size: 28px;
	font-weight: normal;
	padding-left: 100px;
	height: 44px;
	margin: 0 0 14px;
	line-height: 1.2;
}
h4.toremama-newarticle-title{
	font-size: 32px;
	font-weight: bold;
	margin: 0 0 20px;
}
h4.toremama-newarticle-title a{
	color: #4a4a4a;
}
.toremama-newarticle-excerpt{
	line-height: 1.5;
	/*height: 40px;*/
	overflow: hidden;
	margin: 30px 0 20px 0;
}
ul.toremama-newarticle-info{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
	list-style-type: none;
}
ul.toremama-newarticle-info li{
	color: #b4b4b4;
}


h3.toremama-h3-2{
	color: white;
	line-height: 50px;
	font-size: 28px;
	font-weight: bold;
	padding-left: 20px;
	background-color: #ff9c95;
	margin: 30px 0 30px;
}
ul.toremama-popular-list{
	list-style-type: none;
	margin: 20px 0 0 ;
}
ul.toremama-popular-list li{
	padding: 0 0 30px;
	margin: 0 0 30px;
	border-bottom: 1px solid #d2d2d2;
	min-height: 160px;
}
ul.toremama-popular-list li:last-child{
	padding: 0 0 0;
	margin: 0 0 30px;
	border-bottom: none;
}

ul.toremama-popular-list li img{
	float: left;
}
h4.toremama-popular-list-title{
	font-size: 28px;
	font-weight: bold;
	margin: 0 0 10px 260px;
	line-height: 1;
}
h4.toremama-popular-list-title a{
	color: #4a4a4a;
}
.toremama-popular-list-excerpt{
	font-size: 28px;
	margin: 0 0 20px 260px;
	line-height: 1.3;
}
.toremama-popular-list-link{
	font-size: 24px;
	margin: 0 0 0 260px;
	line-height: 1;
}
.toremama-popular-list-date{
	font-size: 24px;
	margin: 0 0 0 260px;
	color: #d2d2d2;
}

/* @@ ママ一覧 */
.writermama-info-wrap{
	margin: 0 0 60px;
}
.writermama-info{
	margin: 60px 0 60px 0;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
	padding-bottom: 60px;
	border-bottom: 1px solid #d2d2d2;
}
.writermama-info:last-of-type{
	margin: 60px 0 60px 0;
	padding-bottom: 0;
	border-bottom: none;
}

.writermama-info-left{
	width: 200px;
}
.writermama-info-right{
	width: 460px;
}
.writermama-info-right-p1{
	display: block;
	margin: 0 0 20px;
	line-height: 1.2;
	font-size: 32px;
	width: 100%;
}
.writermama-info-right-p2{
	margin: 20px 0 20px;
	font-size: 28px;
	line-height: 1;
}
.writermama-info-right-p3{
	margin: 20px 0 20px;
	line-height: 1.5;
}
img.pro-photo3{
	border-radius: 100px;
}

ul.writermama-info-sns{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap: wrap;
	-webkit-justify-content: space-between; /* Safari */
	list-style-type: none;
	width: 440px;
}
ul.writermama-info-sns li{
	margin: 0 10px 10px 0;
}

.writermama-info-right-p4{
	margin: 0;
	text-align: center;
	display: block;
	width: 100%;
}
.writermama-info-right-p4 a{
	display: block;
	font-size: 24px;
	line-height: 50px;
	background-color: #ff9c95;
	border-radius: 6px;
	width: 290px;
	color: white;
	text-align: center;
	margin: 0 auto;
	text-decoration: none;
}
.writermama-info-right-p4 a:hover{
	opacity: 0.7;
}

.writermama-info-right-p5{
	margin: 10px 0 0 0;
}
.writermama-info-right-p5 a{
	color: #4a4a4a;
	text-decoration: underline;
}


/* @@ ママ記事一覧 */
.toremama-motto{
	margin-bottom: 80px !important;
}

.sns-button-2{
	margin: 20px 0 30px;
	height: 80px;
	text-align: center;
	line-height: 50px;
	overflow: hidden;
	display: block;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;

}

.toremama-blog-setumei{
	margin: 30px 0 30px;
	font-size: 28px;
}

h2.toremama-blog-title{
	margin: 30px 0 20px;
}

/* @@ ページネーション */
.toremama-pagenation{
	margin: 60px 0 60px;
	height: 28px;
	position: relative;
}
.toremama-pagenation a.toremama-pagenation-prev{
	position: absolute;
	top: 0;
	left: 0;
}
.toremama-pagenation a.toremama-pagenation-center{
	position: absolute;
	top: 0;
	left: 175px;
	width: 340px;
	text-align: center;
}
.toremama-pagenation a.toremama-pagenation-next{
	position: absolute;
	top: 0;
	right: 0;
}

/* @@ 筆者情報 */
.toremama-author-infomation{
	/*background-color: #f0f0f0;
	padding: 30px;*/
	margin: 60px 0;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari*/
	flex-wrap: wrap;
}
img.pro-photo1{
	border-radius: 100px;
}
.toremama-author-infomation-left{
	width: 200px;
	padding-bottom: 20px;
}
.toremama-author-infomation-right{
	width: 410px;
	padding-bottom: 20px;
}
.toremama-author-infomation-right-p1{
	margin: 0 0 20px;
	line-height: 1;
	font-size: 24px;
}
.toremama-author-infomation-right-p2{
	margin: 0 0 20px;
	font-size: 28px;
	line-height: 1;
}
.toremama-author-infomation-right-p3{
	margin: 0 0 0;
	line-height: 1.5;
	font-size: 24px;
}
.toremama-author-infomation-right-p4{
	clear: both;
	display: block;
	line-height: 1;
	width: 100%;
	margin: 0;
}
.toremama-author-infomation-right-p4 a{
	display: block;
	color: white;
	/*padding: 0 34px;*/
	border-radius: 6px;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	border: none;
	background-color: #ff9c95;
	width: 290px;
	margin: 0 auto;
}

.toremama-author-infomation-right-p5{
	margin: 10px 0 0 0;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap: wrap;
	-webkit-justify-content: space-between; /* Safari */
	list-style-type: none;
}
.toremama-author-infomation-right-p5 span{
	display: block;
	color: white;
	background-color: #ff9c95;
	padding: 0 10px;
	margin-right: 10px;
}
.toremama-author-infomation-right-p5 .pro-website{
	width: 340px;
	display: inline-block;
	color: #5a5a5a;
}


/*-----------------------------------------------------
@@ よくある質問
------------------------------------------------------*/
h3.faq-h3{
	color: #ff9c95;
	background-color: #fff0f0;
	font-size: 40px;
	padding: 24px 30px;
	margin: 0 0 20px;
}

ul.faq-title-bottom{
	list-style-type: none;
	font-size: 0;
	margin: 20px 0 40px;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: flex-end;/* Mac Safari */
	justify-content: flex-end;
}
ul.faq-title-bottom li{
	display: block;
	font-size: 24px;
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid #5a5a5a;
}
ul.faq-title-bottom li:last-child{
	padding-right: 0;
	margin-right: 0;
	border-right: none;
}
ul.faq-title-bottom li a{
	display: block;
	color: #5a5a5a;
}

h4.faq-h4{
	font-size: 32px;
	margin: 0 0 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #d2d2d2;
}

.faq-box1{
	margin: 0 0 80px;
}
.faq-box1 dl {
	box-sizing: border-box;
}
.faq-box1 dt {
	position: relative;
	padding: 12px 60px 12px 80px;
	font-size: 32px;
	font-weight: bold;
	box-sizing: inherit;
	min-height: 60px;
	line-height: 1.3;
	background: #f4f4f4 url(../images/sp_faq_q_long.png) no-repeat 0 50%;
	margin-top: 40px;
}
.faq-box1 dt:first-child{
	margin-top: 0;
}

.faq-box1 dt span {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: transparent url(../images/sp_faq_arrow_down.png) no-repeat 0 50%;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.faq-box1 dt.selected span {
	background: transparent url(../images/sp_faq_arrow_up.png) no-repeat 0 50%;
}
.faq-box1 dd {
	display: none;	/* 始めは非表示 */
	/*padding: 10px;*/
	/*height: 0;  ここでもとの高さを0にしとく */
	background: white url(../images/sp_faq_a.png) no-repeat 0 0;
	padding: 12px 4px 20px 80px;
	min-height: 60px;
	line-height: 1.5;
	overflow: hidden;
	box-sizing: inherit;
	margin: 20px 0 0 0;
	font-size: 32px;
}
.faq-box1 dd.selected {
}

.faq-box1 dt,
#allopen,
#allclose {
	cursor: pointer;
	display: block;
}
#allclose {	display: none;	/* 始めは非表示 */}

.faq-box1-img {
	display: block;
	margin-top: 10px;
}
.faq-box1-img-banner {
	width: 80%;
	display: block;
	margin-top: 10px;
}


/*-----------------------------------------------------
@@ ママの求人とは
------------------------------------------------------*/
h3.about-h3{
	margin: 30px 0 40px;
}
h4.about-h4-1{
	font-size: 40px;
	font-weight: bold;
	color: #ff9c95;
	line-height: 47px;
	margin: 0 0 40px;
}

ul.about-list1{
	list-style-type: none;
	margin: 60px 0 60px;
}
ul.about-list1 li{
	margin: 0 0 40px 0;
	font-weight: bold;
	background: url(../images/sp_circle_yellow28.png) no-repeat 0 2px;
	padding-left: 40px;
	line-height: 1.2;
}

.about-box1{
	border: 2px solid #ff9c95;
	border-radius: 6px;
	margin-top: 110px;
	padding: 106px 38px 38px;
	position: relative;
}

h4.about-h4-2{
	position: absolute;
	width: 500px;
	height: 98px;
	top: -28px;
	left: 93px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background: url(../images/sp_about_image02.png) no-repeat 0 0;
}

dl.about-list1{
}
dl.about-list1 dt{
	font-size: 32px;
	font-weight: bold;
	color: #ff9c95;
	line-height: 40px;
	margin: 0 0 30px;
	padding-left: 100px;
	min-height: 80px;
}
dl.about-list1 dt.about-list1-no1{
	background: url(../images/sp_circle_pink1.png) no-repeat 0 0;
}
dl.about-list1 dt.about-list1-no2{
	background: url(../images/sp_circle_pink2.png) no-repeat 0 0;
}
dl.about-list1 dt.about-list1-no3{
	background: url(../images/sp_circle_pink3.png) no-repeat 0 0;
}
dl.about-list1 dd{
	margin: 0 0 40px;
	padding: 0 0 40px;
	border-bottom: 1px solid #d2d2d2;
	line-height: 1.5;
}
dl.about-list1 dd:last-of-type{
	margin: 0;
	padding: 0;
	border: none;
}


/*-----------------------------------------------------
@@ ママの求人のお約束
------------------------------------------------------*/
h3.proise-h3{
	margin: 0 0 20px;
}
h4.promise-h4-1{
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	width: 690px;
	height: 44px;
	background: url(../images/sp_promise_title01.png) no-repeat 0 0;
	margin: 100px 0 40px;
}
p.promise-p1{
	font-size: 28px;
	margin: 30px 0 100px;
}

dl.promise-list1{
}
dl.promise-list1 dt{
	min-height: 120px;
	padding-left: 140px;
	font-weight: bold;
	font-size: 36px;
	margin: 0 0 30px;
	line-height: 1.5;
}
dl.promise-list1 dt span{
	color: #fbce2f;
}
dl.promise-list1 dt.promise-list1-no1{
	background: url(../images/sp_promise_icon01.png) no-repeat 0 100%;
}
dl.promise-list1 dt.promise-list1-no2{
	background: url(../images/sp_promise_icon02.png) no-repeat 0 100%;
}
dl.promise-list1 dt.promise-list1-no3{
	background: url(../images/sp_promise_icon03.png) no-repeat 0 100%;
}

dl.promise-list1 dd{
	margin: 0 0 80px;
	line-height: 1.5;
}
dl.promise-list1 dd:last-of-type{
	margin: 0 0 40px;
}

.promise-box1{
	background: #f4f4f4;
	margin: 40px 0 0 0;
	padding: 30px;
}
.promise-p2{
	line-height: 1;
	margin: 0;
	color: #ff9c95;
}

/*-----------------------------------------------------
@@ 運営会社
------------------------------------------------------*/
h3.company-h3{
	color: #ff9c95;
	background-color: #fff0f0;
	font-size: 40px;
	padding: 24px 30px;
	margin: 0 0 20px;
}

.company-table1{
	box-sizing: border-box;
	width: 100%;
}
.company-table1 th,
.company-table1 td{
	box-sizing: inherit;
	border-bottom: 1px dashed #d2d2d2;
	font-size: 28px;
	line-height: 1.5;
}
.company-table1 tr:last-child th,
.company-table1 tr:last-child td{
	border: none;
}
.company-table1 th{
	padding: 40px 0;
	width: 170px;
	color: #ff9c95;
}
.company-table1 td{
	padding: 40px 0;
}


/*-----------------------------------------------------
@@ 利用規約
------------------------------------------------------*/
h3.terms-h3{
	color: #ff9c95;
	background-color: #fff0f0;
	font-size: 40px;
	padding: 24px 30px;
	margin: 0 0 20px;
}
h4.terms-h4{
	margin: 60px 0 20px;
	color: #ff9c95;
	border-left: 8px solid #ff9c95;
	padding-left: 10px;
	font-size: 32px;
	font-weight: bold;
}
p.terms-p1{
	line-height: 1.5;
	font-size: 26px;
	margin: 0;
	text-align: justify;
	text-justify: inter-ideograph;
}


/*-----------------------------------------------------
@@ 個人情報保護方針
------------------------------------------------------*/
h3.privacy-h3{
	color: #ff9c95;
	background-color: #fff0f0;
	font-size: 40px;
	padding: 24px 30px;
	margin: 0 0 20px;
}
h4.privacy-h4{
	margin: 60px 0 20px;
	color: #ff9c95;
	border-left: 8px solid #ff9c95;
	padding-left: 10px;
	font-size: 32px;
	font-weight: bold;
}
h5.privacy-h5{
	color: #ff9c95;
	font-size: 26px;
	font-weight: bold;
	line-height: 1.5;
	margin: 40px 0 0 0;
}
p.privacy-p1{
	line-height: 1.5;
	font-size: 26px;
	margin: 0;
	text-align: justify;
	text-justify: inter-ideograph;
}

/*-----------------------------------------------------
@@ わんパク
------------------------------------------------------*/
.wanpaku-list1-box{
	width: 100%;
}
h3.wanpaku-h3-1{
	line-height: 50px;
	color: white;
	background-color: #ff9c95;
	font-size: 28px;
	font-weight: normal;
	display: block;
	line-height: 50px;
	padding-left: 30px;
}

ul.wanpaku-list1,
ul.wanpaku-list2{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	box-sizing: border-box;
}
ul.wanpaku-list1 li,
ul.wanpaku-list2 li{
	box-sizing: border-box;
	flex-basis: 50%;
	border-bottom: 1px solid #b4b4b4;
}
ul.wanpaku-list1 li:nth-child(odd),
ul.wanpaku-list2 li:nth-child(odd){
	border-right: 1px solid #b4b4b4;
}
ul.wanpaku-list1 li a,
ul.wanpaku-list2 li a{
	display: block;
	padding: 26px 0 26px 40px;
	color: #5a5a5a;
	background: url(../images/sp_arrow1.png) no-repeat 330px 50%;
}

.wanpaku-shop-box{
	background-color: #f4f4f4;
	padding: 20px 30px 10px;
}


.wanpaku-shop-list{
	margin: 0 0 60px;
	padding: 0 30px 30px 30px;
	border: 1px solid #d2d2d2;
	background-color: white;
	border-radius: 6px;
}
h4.wanpaku-shop-name{
	color: #ff9c95;
	font-size: 32px;
	font-weight: bold;
	line-height: 1.2;
	min-height: 70px;
	padding-top: 20px;
}
h4.wanpaku-newflag{
	padding-left: 100px;
	background: url(../images/sp_toremama_new_flag.png) no-repeat 0 0px;
}

.wanpaku-shop-subtitle{
	margin: 10px 0 20px;
	line-height: 1.2;
	font-size: 32px;
}
.wanpaku-shop-subtitle a{
	color: #4a4a4a;
	text-decoration: none;
}
.wanpaku-shop-subtitle a:hover{
	color: #ff9c95;
	text-decoration: underline;
}

.wanpaku-shop-inbox{
	position: relative;
}

.wanpaku-shop-list3-cat{
	display: inline-block;
	font-size: 24px;
	/*border: 1px solid #b4b4b4;*/
	padding: 4px 10px;
	background-color: rgba(255, 255, 255, 0.7);
	margin-right: 10px;
}
.wanpaku-shop-p1{
	text-align: right;
	margin-top: -55px;
}

.wanpaku-shop-info{
}

dl.wanpaku-shop-list1{
	margin-top: -2px;
}
dl.wanpaku-shop-list1 dt{
	clear: both;
	width: 5em;
	float: left;
	color: #ff9c95;
	display: block;
	line-height: 1.5;
	font-size: 24px;
}
dl.wanpaku-shop-list1 dd{
	display: block;
	line-height: 1.5;
	margin: 0 0 8px 5em;
	font-size: 24px;
}

ul.wanpaku-shop-list2{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-justify-content: space-between;/* Mac Safari */
	justify-content: space-between;
	-webkit-flex-wrap: wrap; /* Mac Safari */
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0 0 20px;
	width: 100%;
}
ul.wanpaku-shop-list2 li{
	display: block;
	width: 208px;
	height: 40px;
	margin: 0 0 2px;
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 40px;
	overflow: hidden;
	background-color: #eeeeee;
}
ul.wanpaku-shop-list2 li.on{
	background-color: #b4b4b4;
}

ul.wanpaku-shop-list3{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-flex-wrap: wrap; /* Mac Safari */
	flex-wrap: wrap;
	list-style-type: none;
}
ul.wanpaku-shop-list3 li{
	font-size: 28px;
	color: #b4b4b4;
	line-height: 1.5;
}
ul.wanpaku-shop-list3 li:last-child{
	margin-left: auto;
}

p.wanpaku-bottom-more{
	text-align: center;
	background-color: #f4f4f4;
	padding-bottom: 60px;
	margin: 0;
}
p.wanpaku-bottom-more a{
	color: white;
	font-size: 28px;
	display: inline-block;
	width: 400px;
	height: 70px;
	line-height: 70px;
	background-color: #ff9c95;
	border-radius: 6px;
}
p.wanpaku-bottom-more a:hover{
	opacity: 0.7;
	text-decoration: none;
}

h3.wanpaku-sort-title{
	padding: 30px 30px 0 30px;
	background-color: #f4f4f4;
	color: #ff9c95;
	font-weight: normal;
	font-size: 28px;
}


/* @@ わんパク 詳細 */
.wanpaku-info-box{
	border: 1px solid #d2d2d2;
	padding: 40px 30px 0px 30px;
	margin: 100px 0 20px;
}
.wanpaku-info-box+p{
	margin: 20px 0 60px;
	font-size: 24px;
}

h2.wanpaku-info-h2{
	font-size: 36px;
	margin: 0 0 40px;
	color: #ff9c95;
}

ul.wanpaku-shop-list4{
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-flex-wrap: wrap; /* Mac Safari */
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0 0 40px;
	margin: 0 0 40px;
	border-bottom: 1px solid #d2d2d2;
}
ul.wanpaku-shop-list4 li{
	display: block;
	width: 208px;
	height: 40px;
	margin: 0 1px 1px 0;
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 40px;
	overflow: hidden;
	background-color: #eeeeee;
}
ul.wanpaku-shop-list4 li.on{
	background-color: #b4b4b4;
}

table.wanpaku-shop-table1{
}
table.wanpaku-shop-table1 th,
table.wanpaku-shop-table1 td{
	font-size: 28px;
	padding: 40px 0;
}
table.wanpaku-shop-table1 th{
	font-weight: bold;
	color: #ff9c95;
	width: 140px;
	white-space: nowrap;
}
table.wanpaku-shop-table1 td{
}
table.wanpaku-shop-table1 tr{
	border-bottom: 1px solid #d2d2d2;
}
table.wanpaku-shop-table1 tr:last-child{
	border-bottom: none;
}

table.wanpaku-shop-table1 tr.wanpaku-shop-table1-line1{
	border-bottom: none;
}
table.wanpaku-shop-table1 tr.wanpaku-shop-table1-line2 th,
table.wanpaku-shop-table1 tr.wanpaku-shop-table1-line2 td{
	padding-top: 0;
}
.wanpaku-shop-table1-line2 td p{
	margin: 20px 0 0;
	text-align: right;
}

h3.wanpaku-h3-2{
	color: white;
	line-height: 50px;
	font-size: 28px;
	font-weight: bold;
	padding-left: 20px;
	background-color: #ff9c95;
	margin: 30px 0 30px;
}

.wanpaku-box-thumbbox{
	margin: 0 30px 20px 30px;
}
.wanpaku-box-thumbbox a{
	display: block;
	padding: 20px 0;
	clear: both;
	border-bottom: 1px solid #d2d2d2;
	display: -webkit-flex;/* Mac Safari */
	display: flex;
	-webkit-flex-wrap: wrap; /* Mac Safari */
	flex-wrap: wrap;
	color: #4a4a4a;
}
.wanpaku-box-thumbbox a:last-child{
	border-bottom: none;
}
.wanpaku-box-thumbbox-img{
	width: 260px;
}
.wanpaku-box-thumbbox-info{
	width: 430px;
}
.wanpaku-box-thumbbox-info h4.wanpaku-box-h4-1{
	font-size: 28px;
	margin: 0 0 20px;
}
.wanpaku-box-thumbbox-info h4.wanpaku-box-h4-2{
	font-size: 24px;
	margin: 0 0 10px;
	border: 1px solid #ff9c95;
	display: inline-block;
	padding: 2px 10px;
	color: #ff9c95;
}
.wanpaku-box-thumbbox-info p{
	margin: 0;
}

.wanpaku-spot2{
	font-size: 24px;
	margin: 0;
	border: 1px solid #4a4a4a;
	display: inline-block;
	padding: 0px 10px;
	color: #4a4a4a;
	line-height: 1.4;
}


/* @@ わんパク お出かけスポット */
.wanpaku-spot1{
	font-size: 24px;
	margin: 0;
	border: 1px solid #ff9c95;
	display: inline-block;
	padding: 2px 10px;
	color: #ff9c95;
}

.article-info2{
	position: relative;
	margin: 0 30px 40px;
}

ul.wanpaku-list3{
	list-style-type: disc;
	margin-top: -2px;
}
ul.wanpaku-list3 li{
	margin: 0 0 0.3em 1em;
	line-height: 1.2;
}

p.wanpaku-bottom-more2{
	text-align: center;
	margin: 40px 0 60px;
}
p.wanpaku-bottom-more2 a{
	color: white;
	font-size: 28px;
	display: inline-block;
	width: 400px;
	height: 70px;
	line-height: 70px;
	background-color: #ff9c95;
	border-radius: 6px;
}
p.wanpaku-bottom-more2 a:hover{
	opacity: 0.7;
	text-decoration: none;
}

/*-----------------------------------------------------
@@ 
------------------------------------------------------*/

/*-----------------------------------------------------
@@ 
------------------------------------------------------*/
